[2018-09-10 16:44] emmawedekind opened #2 "GDPR Privacy Statement"

[2018-09-10 17:12] WNemencha opened #3 "Remove build folder from the Git repository."
Because it makes the repo' longer to clone, and also because it doesn't serves any purpose at all. :)

[2018-09-10 17:40] WNemencha opened #5 "Background image break the responsiveness of the website on mobile"

[2018-09-11 03:36] SkyzohKey opened #10 "Make the code available under a license"
As this is a project for people to learn from, I'd suggest some MIT/WTFPLv2 👌

[2018-09-11 08:34] #3 closed

[2018-09-11 10:56] reeversedev commented on #10
MIT seems suitable in this situation.

[2018-09-11 16:10] crysfel opened #17 "Upgrade to react-scripts v2"
react-scripts v2 introduces support for css modules without ejecting: https://github.com/facebook/create-react-app/issues/3815

[2018-09-12 06:09] pandaa880 commented on #5
I took a look at code & i think if you want full background image then, it should be set as a **background-image**, so it will also be responsive.

[2018-09-12 11:14] WNemencha commented on #5
Closed as of #6, thus closing.

[2018-09-12 11:14] #5 closed

[2018-09-12 12:14] WNemencha opened #22 "Make use of lint-staged to ensure code consistency"
We might want to integrate lint-staged/husky hooks so we always have code following the repository code-style. ;)

Relevant links:
- https://blog.fossasia.org/integrate-prettier-with-lint-staged-and-eslint-for-consistent-code-style-throughout-the-project/
- https://github.com/okonet/lint-staged

[2018-09-12 12:25] WNemencha opened #23 "Tests are broken"
Seems that some files are missing for the test script to work correctly:

[code]

[2018-09-12 13:42] Asjas commented on #23
@jagzviruz created PR https://github.com/Coding-Coach/coding-coach/pull/16 to override the default Webpack and Jest configurations but now the testing part doesn't work.

I tested this myself and I get the same error message.

@jagzviruz Is there something missing that we need to add for the testing to work?

[2018-09-12 16:34] #23 closed

[2018-09-12 18:43] andy9775 opened #29 "Support absolute imports"
Before this grows I'm wondering if there is interest in configuring absolute import paths (`import Item from 'components/some-component'` instead of `import Item from '../../some-component'`). I can set this up if wanted

[2018-09-12 21:26] crysfel commented on #29
Yeap, there's a PR that adds support for absolute imports: https://github.com/Coding-Coach/coding-coach/pull/20

[2018-09-12 21:27] crysfel commented on #17
There's a PR to close this issue: https://github.com/Coding-Coach/coding-coach/pull/20

[2018-09-13 14:16] #2 closed

[2018-09-13 14:20] emmawedekind opened #32 "Log In"
**Acceptance Criteria:**

- A user can log in to their account using their email address.
- A user can log in to their account using their social media accounts (oAuth).
- A user can reset their password via a 'Forgot password' link.
![log in](https://user-images.githubusercontent.com/7671983/46679216-ce5e4000-cbe6-11e8-9ad4-012e1d497578.jpg)

Assets: https://projects.invisionapp.com/d/main#/proje

[2018-09-13 14:21] #10 closed

[2018-09-13 14:24] emmawedekind opened #33 "Sign Up"
**Acceptance Criteria:**
- A user can sign up for a new account using their email address.
- A user can sign up for a new account using their social media accounts (oAuth).

![image](https://user-images.githubusercontent.com/7671983/48345346-1c4be500-e678-11e8-968d-377671762a91.png)

![image](https://user-images.githubusercontent.com/7671983/48345368-24a42000-e678-11e8-8403-9cc0a1b840f0.png)

Asse

[2018-09-13 14:29] emmawedekind opened #34 "Account Settings"
**Acceptance Criteria:**

A user can update the following required fields:
- Name
- Email address
- Job title
- Languages the user speaks

A user can update the following optional fields:
- Social media accounts
- Company
- Skills to mentor in (depends on account type)
- Skills to be mentored in depends on account type)

Users will be able to set their account type to be mentor, mentee, or both.

[2018-09-13 14:31] emmawedekind opened #35 "Search For Mentor"
**Acceptance Criteria:**
- Users can search for a mentor using filters

Filters include:
- Languages spoken
- Geographic location (country, timezone, city)
- Topic to be mentored in (JavaScript, HTML)
- Topic short hands will be converted into their counterpart (JS => JavaScript, node => node.js)
- Gender

[2018-09-13 14:35] emmawedekind opened #36 "Send Mentorship Invitation"
**Acceptance Criteria:**
- Users can send mentorship invitations to available mentors.
- Users can customize the invitation message, or use one of the pre-selected messages [TBD].

[2018-09-13 14:37] emmawedekind opened #37 "User Dashboard"
**Acceptance Criteria:**
- Mentors and mentees can see whether they have any mentorship messages.
- Users can see their notifications at a glance.
- Users can clear all notifications.
- Users can clear individual notifications.

## Mentor
![image](https://user-images.githubusercontent.com/7671983/49695057-3acccf80-fb95-11e8-96b0-53815ea2df88.png)

![image](https://user-images.githubusercontent.com

[2018-09-13 14:39] emmawedekind opened #38 "Mentorship Invitations"
**Acceptance Criteria:**
- Users can expand incoming and sent mentorship invitations.
- Mentors can view details for the mentee who sent the invitation, and click into their profile.
- Mentors can accept or reject a mentorship invitation.
- Mentors can add a custom reason for declining a mentorship invitation, or select from a list of pre-populated rejections [TBD].
- Mentees can view details for

[2018-09-13 14:41] emmawedekind opened #39 "Remove Mentor"
**Acceptance Criteria:**
- Mentees have the ability to remove a mentorship.
- When a mentee terminates a mentorship, the relationship is ended on both sides.
- The mentee can select a reason for terminating the mentorship, or add a custom message.
- The mentor will receive a notification informing them that the mentorship was terminated.
- The mentorship will be removed from the mentor's dashboard

[2018-09-13 14:42] emmawedekind opened #40 "Remove Mentee"
**Acceptance Criteria:**
- Mentors have the ability to remove a mentorship.
- When a mentor terminates a mentorship, the relationship is ended on both sides.
- The mentor can select a reason for terminating the mentorship, or add a custom message.
- The mentee will receive a notification informing them that the mentorship was terminated.
- The mentorship will be removed from the mentor's dashboard

[2018-09-13 14:44] emmawedekind opened #41 "Mentor Recommendations"
**Acceptance Criteria:**
- A mentee can recommend a mentor (only once).
- A mentee can leave a personalized message (mandatory).
- A mentee can recommend a mentor for specific skills.
- The recommendation will be published to the mentor's profile.
- Recommendations should have a 'Report functionality.'
- A mentee can delete, or edit, their mentor recommendation.

[2018-09-13 14:45] emmawedekind opened #42 "Delete Account"
**Acceptance Criteria:**
- Users can delete their accounts.
- This will remove all data from the database.
- All current mentorships will be notified.

[2018-09-13 14:47] emmawedekind opened #43 "User Profile"
**Acceptance Criteria:**
- Users will be able to view their profiles.

Profile data will include:
- A badge indicating whether a user is mentor, mentee, or both.
- Name
- Job title (optional)
- Geographic location (City, country, timezone)
- Languages spoken
- Skills to be mentored on (mentee profile only)
- Skills to mentor in (mentor profile only)
- Recommendations (mentor profile only)

[2018-09-13 14:48] emmawedekind opened #44 "Report Abuse"
**Acceptance Criteria:**
- Users will be able to report abuse from the footer of the application.
- Users will select the mentor/mentee that is violating the code of conduct.
- Users will give an explanation of the situation.
- Sent report abuse claims will be sent to the codingcoachio@gmail.com account.

[2018-09-13 14:49] emmawedekind opened #45 "Registration Welcome Email"
**Acceptance Criteria:**
- Users will receive a welcome email upon registration asking them to confirm their account.
- Text [TBD]

[2018-09-13 14:49] emmawedekind opened #46 "GDPR Compliance"
**Acceptance Criteria:**
- GDPR compliance is implemented.

[2018-09-13 14:50] emmawedekind opened #47 "Mission Statement"
**Acceptance Criteria:**
- Mission statement is easy to find.
- Document is in progress.

[2018-09-13 14:50] emmawedekind opened #48 "About Us"
**Acceptance Criteria:**
- About Us page is easy to find.

[2018-09-13 14:50] emmawedekind opened #49 "Contact Us"
**Acceptance Criteria:**
- Contact Us is available on the site footer or navigation.

[2018-09-13 14:51] emmawedekind opened #50 "Google Analytics"
**Acceptance Criteria:**
- Google Analytics are implemented in order to track user's interactions.

[2018-09-13 14:52] #29 closed

[2018-09-13 14:52] emmawedekind opened #51 "Coding Coach Beta"
**Acceptance Criteria:**
- Page describing how to participate in Coding Coach Beta with a link to the Slack organization: coding-coach-beta.slack.com.

[2018-09-13 17:10] crysfel opened #52 "Sign up with email"
As a user I want to sign up into the app using my email address. Name, Email, Password and a checkbox to accept the terms and conditions.

Once I have entered my data, I want to click the `Sign Up` button to create my account. After the server successfully create my account, I should be redirected to the main page (TBD, maybe profile page? Or search?).

When implementing this, make sure to create

[2018-09-13 17:26] jagzviruz commented on #45
Any recommendations on how to send emails?
- Do we integrate with a email provider like mail chimp/sendgrid that provides templates ?
- Do we build a FE backend that uses something like `nodemailer` to send emails?

[2018-09-13 17:41] jagzviruz commented on #45
[Amazon SES](https://aws.amazon.com/ses/pricing/) seems to be the cheapest of all alternatives with the highest free usage tier.

[2018-09-13 17:42] jagzviruz commented on #52
Using social login will eliminate the need for email validation and the need to securely store passwords.

[2018-09-14 20:36] crysfel commented on #52
@jagzviruz there's another task for that coming up ;) but we are allowing users to use their email to signup as well.

[2018-09-14 20:44] crysfel opened #54 "Main header"
As a visitor I want to see the main header in the landing page. At the top left it should include links to the three sections on the page.

- **About** When clicking on this link, the page should scroll to the about section
- **Mission** When clicking on this link, the page should scroll to the mission section
- **Contact** When clicking on this link, the page should scroll to the contact section

[2018-09-14 20:44] crysfel opened #55 "About section"
As a visitor I want to learn more about the project.

Create a react component that takes the title, description, direction, classes and icon as properties. This component should render the title, description and icon in the given direction (left, right).

Text will be provided later on, for now you can use a placeholder text.

We are going to use this component to render the mission section as we

[2018-09-14 20:45] crysfel opened #56 "Mission section"
As a visitor I want to see the mission for the project.

We want to reuse the same component we used for the About section, all we need to do is send the data and additional custom css classes using the `classes` property.

Assets will be provided once ready.

[2018-09-14 20:45] crysfel opened #57 "Contact section"

[2018-09-14 20:45] crysfel opened #58 "Landing page"
As a visitor I want to see the landing page displaying details about the project.

![image.png](https://images.zenhubusercontent.com/5b9a800c3ca37c573e3792a9/4031fb9f-bd34-46ff-82bd-8cdf11fef7d8)

[2018-09-14 20:47] #58 closed

[2018-09-14 20:48] crysfel opened #59 "Landing page"
As a visitor I want to see the landing page displaying details about the project.

This is an epic, please take a look at the tasks under this epic:

- Main header https://github.com/Coding-Coach/coding-coach/issues/54
- About section https://github.com/Coding-Coach/coding-coach/issues/55
- Mission section https://github.com/Coding-Coach/coding-coach/issues/56
- Contact section https://github.com/

[2018-09-14 20:58] crysfel commented on #54
As a visitor I want to see the main header in the landing page. At the top left it should include links to the three sections on the page.

- **About** When clicking on this link, the page should scroll to the about section
- **Mission** When clicking on this link, the page should scroll to the mission section
- **Contact** When clicking on this link, the page should scroll to the contact section

[2018-09-15 09:57] tureey commented on #55
Since I have no permissions in *Zenhub* yet, I say here Im working on it. Because I have no permissions either to change the labels of the issue and make it `WorkInProgress`

[2018-09-15 10:31] linux-nerd commented on #57
I can take up the contact section. @crysfel Who can assign me this task?

[2018-09-15 14:08] nitish24p commented on #56
dibs ?

[2018-09-17 07:44] pawansingh-snapwiz commented on #59
Where will be Login Button?

[2018-09-17 09:29] nitish24p commented on #57
@linux-nerd where are you getting the colors and dimensions for padding etc?

[2018-09-17 11:00] linux-nerd commented on #57
@nitish24p You can pick the colors from https://www.figma.com/file/MfEpHTzcJZTnclKSojQQdhpp/CodingCoach-Design-System?node-id=74%3A17

I am not able to figure out how to pick the dimensions. @crysfel need your help

[2018-09-17 12:13] tarang9211 commented on #54
@crysfel Could you explain the difference between this and the landing page?

[2018-09-18 00:51] edward-hong commented on #50
I'm interested in implementing this feature

[2018-09-19 01:15] crysfel commented on #59
@pawansingh-snapwiz no login button for now. We will add it later for sure ;)

[2018-09-19 01:16] crysfel commented on #54
@tarang9211 this is just the header of the landing page. The https://github.com/Coding-Coach/coding-coach/issues/59 is the epic, not really a task but a set of tasks. ZenHub creates issues for epics and actual tasks.

I'm going to assign this task to you.

[2018-09-19 01:28] crysfel commented on #55
@tureey I've merged the PR that enables css modules!

Something like this?

[code]

If so.... how are we going to add the action to an element inside the component? What about:

[code]
And then render the children property in a designated place inside the `Section` component?

We can create components for each image, then pass the icon as a property to the section. If we do this, the images will b

[2018-09-19 01:30] crysfel commented on #56
@tureey given that you are working on the `Section` component, it makes sense to assign this task to you xD

[2018-09-19 01:31] crysfel commented on #57
@linux-nerd for some reason I can't assign this task to you. But go ahead and create a PR.

Thx!

[2018-09-19 01:34] crysfel commented on #45
@jagzviruz This tasks is only about creating the template for the email, the backend team will be responsible to actually sending the email.

[2018-09-19 06:31] linux-nerd commented on #57
@crysfel For fb, twitter and insta icons, should I use three diff icons or are we planning to include some third party lib like font-awesome?

[2018-09-19 08:06] tureey commented on #55
@crysfel  I was thinking about having 2 components for the `About` for example:

1.  Section (the one has background-color and the`::before` `::after` properties
2.  The Flex component that accepts
2.1 Title
2.2 Description
2.3 Direction
2.4 Icon
2.5 Actions  (*)

(*) I was thinking to make it be an array of `<Button>` and they would be placed inside a wrapper that places it inside the `SectionIco

[2018-09-19 13:31] tarang9211 commented on #54
Got it. Thanks.

[2018-09-19 13:32] tarang9211 commented on #32
I would be interested in this too.

[2018-09-19 18:10] gibsonhan commented on #51
I would like to claim this task!

[2018-09-19 18:21] gibsonhan commented on #49
I would like to claim this issue

[2018-09-20 03:38] edward-hong commented on #50
Hi, I've imported `react-ga` and initialized it on render in `App.js`
[code]
What should I do about the actual tracking ID?

[2018-09-20 04:28] nitish24p commented on #50
pick up the tracking id from an ENV variable, also you can abstract all the functionality to `analytics.js ` or some file like that

[2018-09-20 08:12] edward-hong commented on #50
Thanks @nitish24p I've wired up ENV variables with `dotenv` to `webpack` and have abstracted it to a separate file. Can I change App.js to a class component? It seems overkill to initialize `ReactGA` in the render function as it will be re-initialized every rerender. Wouldn't be more appropriate to initialize at `componentDidMount()`?

[2018-09-20 12:05] palashmon opened #68 "Package.json homepage"
https://github.com/Coding-Coach/coding-coach/blob/0bad77aa8fd74608961ed9a90c1b19303775bd41/package.json#L5

This home page set in package.json is no loading and giving a 404 error. I think it should be [codingcoach.io](https://codingcoach.io/) instead. Please check this once.

Regards!

[2018-09-23 05:26] edward-hong commented on #68
@palashmon thanks for pointing this out! I'll make a quick PR regarding this issue.

[2018-09-23 08:38] emmawedekind commented on #68
I've approved. Merge in to develop once someone else approves.

[2018-09-24 08:40] linux-nerd commented on #57
@emmawedekind I have included just brand icons form font-awesome. As of now we only need brand icons.

[2018-09-24 09:12] emmawedekind commented on #57
What do you mean by "brand icons"?

[2018-09-24 09:14] linux-nerd commented on #57
brand icons - icons for twitter, facebook etc.

[2018-09-24 13:54] arthurbuhl opened #75 "Using i18n for image alt static text"
## Issue Description
I think we should use `i18n` for this static text used for image alt.

## Code Link

https://github.com/Coding-Coach/coding-coach/blob/63eb963b2c12fa20ab2cb6519fb59aa2a4881b15/src/containers/App/App.js#L10

## Issue Level

Minor

## Issue Priority

Low

## Previous Discussion PR

https://github.com/Coding-Coach/coding-coach/pull/70#discussion_r219689084

[2018-09-24 16:13] emmawedekind commented on #57
Ahhh yes thanks

[2018-09-24 17:19] palashmon opened #76 "Travis badge in readme not working"
# Issue

## Description

Travis integration config has been added in PR #28 but it seems that repo has not been integrated with [Travis](https://travis-ci.org/) yet, as the Travis badge in readme page doesn't seem to be working.

## Steps to Reproduce

- [x] This [build](https://travis-ci.org/jagzviruz/coding-coach/builds/430392693) at `jagzviruz/coding-coach` seems to work fine.
  - [x] Image url

[2018-09-25 05:15] pandaa880 commented on #59
If it is okay, I would like to work on this. What do i need to do ?

[2018-09-25 05:53] linux-nerd commented on #59
@pandaa880 This is an epic. The tasks are linked on the top. You can check for open issue in the issues section.

[2018-09-25 05:54] linux-nerd commented on #57
@crysfel, @emmawedekind Since PR #67 is merged with development, I think we can close this issue.

[2018-09-25 06:35] nitish24p commented on #76
I think @emmawedekind will have to enable the build for the development branch on travis, and then itll work. :)

[2018-09-25 07:16] emmawedekind commented on #76
I'll leave this for @crysfel :)

[2018-09-25 19:00] DanielRuf opened #77 "big blobs in history"
# Issue

## Description

Currently the repository is 32MB in size due to files which are still in the history.

## Steps to Reproduce

[code]

## Direct Requirements

- [ ] a new clean branch without these big blobs should be created (in the future)

[2018-09-25 19:20] DanielRuf opened #79 "add AppVeyor (CI for Windows)"
## Description

AppVeyor is a CI service like Travis CI and others. But with one difference. We can test on Windows there. This would also catch issues like https://github.com/Coding-Coach/coding-coach/pull/78

## Direct Requirements

- [ ] automated CI on Windows

[2018-09-25 19:34] DanielRuf opened #81 "process.env"
# Issue

## Description

Using `process.env` is not great as the used env variables seem to be not declared anywhere. We should use `cross-env` for testing purposes and use some config for setting them instead of using `process.env`.

[2018-09-26 05:49] linux-nerd commented on #81
@DanielRuf Thanks for pointing it out. I added .env files with the variables as part of #57, and I think I missed to commit it.
I will raise a PR against this issue.

[2018-09-26 05:59] linux-nerd commented on #81
Ahh! Now I see why I missed to add .env file. @crysfel, @emmawedekind I think we can remove .env file from .gitignore. It makes sense to ignore .env.local or.env.* but not .env file. If the developer has to change the value of .env file, hr/she can create .env.local file and make changes. Thoughts?

[2018-09-26 07:06] emmawedekind commented on #81
I think that's fine! I have approved the PR.

[2018-09-27 18:35] crysfel commented on #77
A 32MB image was included in the first commit xD

[2018-09-27 18:36] crysfel commented on #76
Working on this!

[2018-09-27 18:53] crysfel commented on #68
Closing issue as the PR has been merged!

[2018-09-27 18:53] #68 closed

[2018-09-27 22:46] edward-hong commented on #81
When I started the Google Analytics PR #70, I also included setting up `.env` for the tracking ID. It might have been a good idea for me to have started a separate issue. I'll leave the `.env` stuff to @linux-nerd and focus on getting the GA PR done.

[2018-09-27 23:05] edward-hong opened #91 "gh-pages"
Currently http://coding-coach.github.io/ leads to desert 404 #68. Do we still need gh-pages?

[2018-09-28 01:13] crysfel commented on #91
We are not using that domain anymore, instead we are using `codingcoach.io` that points to gh pages.

[2018-09-28 01:16] crysfel commented on #81
I'm wondering if `dotenv` supports `.env.local` to overwrite the values from `.env`. As far as I know CRA internally uses dotenv to load data to the `process.env` object.

[2018-09-28 03:12] Ragzzy-R commented on #49
Hi can anyone please assign this to me?

[2018-09-28 06:00] gibsonhan commented on #52
Is anyone working on this?

[2018-09-28 06:45] emmawedekind commented on #49
You were not added to the Coding-Coach team. Please in the future request access.  I have added you but it seems to be taking a while to update.

[2018-09-28 06:47] emmawedekind commented on #91
It's a custom domain hosted through gh-pages. This is not an issue, it's the intended behavior. I'm closing this for now but if there is further conversation to be had, please re-open.

[2018-09-28 06:47] #91 closed

[2018-09-28 06:47] emmawedekind commented on #77
Yeah that was me... I think...

[2018-09-28 06:47] emmawedekind commented on #77
Is there an easy way to fix it? I don't want to create a new branch...

[2018-09-28 08:41] Ragzzy-R commented on #49
seems like someone else is already working on it and its 80% done. So i just added some style fixes and created a merge request #93

[2018-09-28 08:44] DanielRuf commented on #77
Besides this, not unless all commits after the first are rebased and all active clones and open PRs would become invalid.

We can also close this as this can not be solved in the current branch without changing the history.

[2018-09-28 09:52] tarang9211 commented on #32
I'll be taking this up.

[2018-09-28 10:08] emmawedekind commented on #77
Yeah let's close this, thanks!

[2018-09-28 10:08] #77 closed

[2018-09-28 13:04] arthurbuhl commented on #32
Someone please assign it to Tarang and also set the label to "In progress". Thanks!

[2018-09-28 13:06] Ragzzy-R commented on #32
@tarang, if u are doing both front-end and back end of it, i can share the front end work with u. So that ull have less things on plate.😊

[2018-09-29 04:21] arthurbuhl opened #94 "Using $font variable"
https://github.com/Coding-Coach/coding-coach/blob/d199d0becf073a1e43d2ea876f841adbe2a74644/src/containers/App/assets/app.scss#L30

https://github.com/Coding-Coach/coding-coach/blob/93df6511f0490abc4327a165ca19445d0d116bfb/src/theme/base/_elements.scss#L8

I think we should use `$font-` variable from [`_variables.scss`](https://github.com/Coding-Coach/coding-coach/blob/development/src/theme/base/_v

[2018-09-29 15:34] tureey commented on #75
Solved here https://github.com/Coding-Coach/coding-coach/pull/95

[2018-09-29 18:00] emmawedekind commented on #75
I am going to close this as it's fixed with #95.

[2018-09-29 18:00] emmawedekind commented on #75
I'll close this once #95 is merged.

[2018-09-29 18:52] Ragzzy-R commented on #48
Ill take this up! please assign it to me.

[2018-09-30 01:31] crysfel commented on #52
We don't have the design for this or wireframes, I don't want to waste your time on something that we might ended up removing xD

[2018-09-30 01:44] crysfel opened #97 "Migrate to JS-Lingui for i18n"
# Issue

## Description
JS-Lingui is a relative new library for internationalization, the API is very similar to React18next, in fact the author decided to do this in order to easily migrate from other libraries.

It supports plurals as well as custom formatting for texts. The most important thing is that this library comes with a CLI that we can use to manage the keys/text in all the different la

[2018-09-30 02:02] linux-nerd commented on #43
I will be working on this, once the design is final.

[2018-09-30 04:37] dhrubesh commented on #97
I'll be working on this.

[2018-09-30 06:30] gibsonhan commented on #52
Hey @dhrubesh, I inquired about this issue first. I am not sure if you ignoring my comment above...

[2018-09-30 06:37] emmawedekind commented on #52
I will assign this to both of you @gibsonhan and @dhrubesh . Please coordinate together.

[2018-09-30 06:45] gibsonhan commented on #52
🔨🔪🔨I DEMAND ISSUE ASSIGNMENT BY COMBAT 🔨 🔪🔨. jokes aside. Will do when designs are out.

[2018-09-30 06:47] emmawedekind opened #98 "Main Header Follow-Up: Remove png background and use css only"
# Issue
Relates to the Main Header Epic #54

## Description
The current landing page contains an extra div to set the background. While this works is not ideal, this task is about removing the following `div` from the landing page:

[code]

Then we need to implement the background using css only, I've prepared an example on how to achieve this with only css: https://codepen.io/crysfel/pen/gdVyjW

[2018-09-30 06:49] Ragzzy-R commented on #52
This should be official code of conduct when requesting to assign task. 😂🤣

[2018-09-30 06:50] emmawedekind commented on #54
I created a follow-up story for the main header: https://github.com/Coding-Coach/coding-coach/issues/98

[2018-09-30 06:52] emmawedekind commented on #32
I am removing @tarang9211 from the Assignee's List. Log In is not ready for development as the designs do not currently exist. Once the designs have been released we can discuss who will take this. Please only sign up for one task at a time.

[2018-09-30 06:53] emmawedekind commented on #52
I agree. Let me talk with @crysfel . Ultimately I'd love for people to work together but I also understand this is difficult based on locations.

[2018-09-30 06:55] emmawedekind commented on #52
But also... we're not ready to begin this task yet as the designs are in-progress.

[2018-09-30 07:01] dhrubesh commented on #52
@gibsonhan Let's work together if that's cool with you?

[2018-09-30 07:03] dhrubesh commented on #52
@gibsonhan Let's work together if it's fine with you?

[2018-09-30 07:05] reeversedev commented on #98
I'll be interested in doing this.

[2018-09-30 07:06] reeversedev commented on #98
I would be interested in doing this.

[2018-09-30 09:48] tarang9211 commented on #32
My PR was approved. That’s why I wanted to take this one. Do let me know
when the designs are ready.

On Sun, Sep 30, 2018 at 12:22 PM Emma Wedekind <notifications@github.com>
wrote:

--
Regards
-Tarang Hirani

[2018-10-01 00:42] crysfel commented on #98
@reeversedev I will create smaller tasks for this, so other people can take something

[2018-10-01 00:43] crysfel commented on #97
@dhrubesh sound good! Thanks!

[2018-10-01 00:54] crysfel opened #99 "Main Header Follow-Up: Remove additional `<h1>`"
# Issue

## Description

In the home page, the current implementation uses two `h1`, we only need to have one `h1` in the entire page.

The scope of this task limits to remove the second `h1` and put all the text in a single `h1` element, make sure to use the i18n library that we have.

[2018-10-01 00:58] crysfel opened #100 "Main Header Follow-Up: Use SVG instead of PNG"
# Issue

## ZenHub Issue

The home page is displaying an illustration in the right side, currently is a `assets/logo.png` image, however we need to use a SVG instead of a png file. The reason for this is because we want to display nice and crispy images in retina/large displays.

The scope of this task is about removing the png file and using an svg file instead.

[2018-10-01 01:02] crysfel opened #101 "Main Header Follow-Up: Responsiveness"
# Issue

## ZenHub Issue

The current header in the home page is not responsive, in this task we need to set the width of the image on the left based on the parents width.

We are using flex to set the width of the parents, we need the SVG image to get the same width as the parent div and also to keep the ratio consistent, meaning the height should adjust based on the given width.

The scope of th

[2018-10-01 04:05] linux-nerd commented on #100
@crysfel I can take this up.

[2018-10-01 05:53] crysfel commented on #101
@reeversedev done!

[2018-10-01 05:57] crysfel opened #103 "Main Header Follow-Up: Font Ratios seem a little off"
# Issue

## ZenHub Issue

The font ratios in the header are a little off, please follow the specs https://www.figma.com/file/MfEpHTzcJZTnclKSojQQdhpp/CodingCoach-Design-System?node-id=529%3A62

[2018-10-01 05:59] crysfel opened #104 "Main Header Follow-Up: Hover styles for links and button"
# Issue

## ZenHub Issue

The `hover` styles for the button and links in the header section are missing. @emmawedekind will provide those styles soon.

Please work on this task until @emmawedekind provides the color/styles.

[2018-10-01 06:02] crysfel opened #105 "Main menu for mobile"
# Issue

## ZenHub Issue

In mobiles we need to show a hamburger menu at the top-left instead of displaying the main menu (for desktops/tablets).

When the user clicks the hamburger icon, the menu should slide in with a smooth animation. Internally it should have a close button, and three links: About, Mission, Contact.

Please follow the specs: https://www.figma.com/file/MfEpHTzcJZTnclKSojQQdhpp/

[2018-10-01 06:07] crysfel opened #106 "Consistency in css class names"
# Issue

## ZenHub Issue

We have decided to use camel case for naming css classes, we currently have some sass files using snake case instead.

Please go through all css files and rename the classnames, for example `slack_org` to `slackOrg`. We want consistency in our codebase.

Don't forget to update the javascript files as well.

[2018-10-01 06:09] crysfel opened #107 "Update the media queries to mobile first"
# Issue

## ZenHub Issue

We have defined some utilities to deal with media queries, under `theme/base/_mediaquesries.scss` file we have a mixing that defines several sizes.

Update the `mixin` to be mobile first. Take a look at this tutorial if need some help: https://zellwk.com/blog/how-to-write-mobile-first-css/

[2018-10-01 06:49] linux-nerd commented on #106
I will take this up. I changed the classnames to snake case after a comment on my PR. I will revert snake case to camel case.

[2018-10-01 08:09] emmawedekind opened #108 "Designs For Log In"
Create the designs for Log In flow.

[2018-10-01 08:10] emmawedekind opened #109 "Designs For Sign Up"
Create the designs for Sign Up flow.

[2018-10-01 08:10] emmawedekind opened #110 "Migrate Design assets to Invision"
Create an Invision account and migrate design assets there.

[2018-10-01 13:06] dhrubesh commented on #105
Hey, I will take this.
But just wanted to confirm if the `Button` component is ready or not? If not, I can work on it as well.

[2018-10-01 17:04] crysfel commented on #106
Thanks, the PR has been merged!

[2018-10-01 17:04] #106 closed

[2018-10-01 17:11] crysfel opened #112 "Reusable Components: Button"
# Issue

## Description

We need to create a reusable `Button` component. We should also be able to define children with any content. The button should receive two properties, `onClick` and `theme`.

[code]

[2018-10-01 17:12] crysfel commented on #105
I've assigned the button component to you: https://github.com/Coding-Coach/coding-coach/issues/112

[2018-10-01 17:52] dhrubesh commented on #105
Sure Thanks! Can you assign this issue to me as well?

[2018-10-01 20:09] dhrubesh commented on #97
Hey @crysfel. I'm stuck in one thing.
So JS-Lingui creates a folder **locale/** (similar to **i18n/**) which resides outside of **src/** and which in turn is throwing this error (which is obvious):
![image](https://user-images.githubusercontent.com/11453045/46312815-d2d19a00-c5e3-11e8-8863-0833a2ea25f5.png)
Can you suggest me a workaround with this one?
I couldn't find a way to create the **locale

[2018-10-02 00:33] crysfel commented on #97
Use the `localeDir` configuration to set the path to `src/i18n`, then webpack should be able to load the files.

https://lingui.js.org/ref/conf.html#localedir

[2018-10-02 00:41] #100 closed

[2018-10-02 02:38] linux-nerd commented on #99
@crysfel I will be working on this

[2018-10-02 16:32] AlexMunoz commented on #98
@emmawedekind can you review it :)

[2018-10-02 19:32] tureey commented on #99
I did the refactor of a different things on my PR even before they decided to creat the `tech debt tasks`
Fixed here https://github.com/Coding-Coach/coding-coach/pull/73

[2018-10-02 19:35] tureey commented on #101
Well, I did the refactor of a different things on my PR before this new issues were created... sorry to don't say it before.

Fixed here https://github.com/Coding-Coach/coding-coach/pull/73

[2018-10-02 19:45] tureey commented on #107
May I do this? @crysfel

[2018-10-02 20:06] FacundoGFlores commented on #52
Is there any requirement for social login? Any service like Auth0 or Firebase are going to be used?

[2018-10-03 13:14] emmawedekind commented on #107
Sure, I will add you.

[2018-10-03 13:19] emmawedekind opened #116 "Terms & Conditions"
## Description

Terms & Conditions MUST be created.  I can create a mock-up but we cannot deliver the landing page otherwise.

## Assets
The document can be found [here](https://docs.google.com/document/d/1_blcaj76xQ6swqhcCTuxnvwp1RjLyXv2j8bT-rB4qbU/edit?usp=sharing).

## Design
![image](https://user-images.githubusercontent.com/7671983/46428158-8ac98900-c743-11e8-8516-ca23449b0937.png)

[2018-10-03 13:19] emmawedekind opened #117 "Privacy Policy"
## Description

Privacy Policy MUST be created.  I can create a mock-up but we cannot deliver the landing page otherwise.

## Assets
[Here is a link](https://docs.google.com/document/d/19aG24XBouXTlRFnR37NHDIq2z7qCcFYMyVSQxmTz5dE/edit?usp=sharing) to the Google Doc with the Privacy Policy document.

## Design
![image](https://user-images.githubusercontent.com/7671983/46428177-987f0e80-c743-11e8-8e

[2018-10-03 13:27] emmawedekind opened #118 "Create Privacy Policy Design"
## Description
Create mock-up for privacy policy.

[2018-10-03 13:28] emmawedekind opened #119 "Create Terms & Conditions Design"
## Description
Create design for terms & conditions.

[2018-10-03 17:20] emmawedekind opened #120 "Cookies"
## Description

- [x] Add "Cookies" to the footer (Design 2).  When clicked, this should open a modal (Design 3).

- [x] Add the cookie banner fixed on scroll (Design 1)

## Assets
The text can be found [here](https://docs.google.com/document/d/1Bmo9ZWiHNSjJ5ccsKEfiSTpqtC-KIP91IXQiwnsx5m0/edit?usp=sharing).

## Design
### Design 1
![image](https://user-images.githubusercontent.com/7671983/46427359

[2018-10-03 17:29] emmawedekind opened #121 "Create Email Mailing List & Send First Email"
## Create Email Design
Create a welcome email to all of the survey participants. This will ensure retention.

[2018-10-03 17:38] linux-nerd commented on #117
I can take this up :)

[2018-10-03 18:06] Venablena commented on #120
Happy to do this -but is someone already working on the footer/has it been added to a pending pull request, I don't see it in the repo?

[2018-10-03 18:10] Venablena commented on #116
@linux-nerd Since this uses the same modal as Privacy Policy and Cookies, the same modal should be used for all of them and just change the text.

[2018-10-03 18:11] Venablena commented on #120
@linux-nerd If you're creating the modal, the same should be used for this. I can do the designs 1 and 2.

[2018-10-03 18:29] emmawedekind opened #122 "Footer"
## Description
Implement the footer with links to respective modals.

![image.png](https://images.zenhubusercontent.com/5a3a7d108a75884b908bc2c0/ab3af15c-9408-4af5-87bd-61dee6695d3d)

[2018-10-03 18:30] emmawedekind commented on #117
Super!

[2018-10-03 18:31] emmawedekind commented on #117
Please create this dialog so it's extensible for Terms & Conditions as well as Cookies.

[2018-10-03 18:31] emmawedekind commented on #120
Footer task is here: https://github.com/Coding-Coach/coding-coach/issues/122

[2018-10-03 18:31] #118 closed

[2018-10-03 18:31] #119 closed

[2018-10-03 18:41] Venablena commented on #122
I'll do this.

[2018-10-03 18:43] emmawedekind commented on #122
Assigned! Thanks!

[2018-10-03 19:48] crysfel commented on #117
I think we should break this task into thee more:

1.- We need a reusable `Button` component (We have a task for this: https://github.com/Coding-Coach/coding-coach/issues/112)
2.- A reusable `Panel` component with Title, Content and footer
3.- A reusable `TextField` component with `multiline` property to render a textarea.

Then we could create a `LegalDialog` component that looks exactly like thi

[2018-10-03 19:53] crysfel commented on #99
PR merged, thanks!

[2018-10-03 19:53] #99 closed

[2018-10-03 19:55] tureey commented on #107
I'll update the `mediaqueries` and then refactor all the styles in the website, since the there will be a `technical debt`.

**I'll work on this the next weekend!**

Would be good to **update tasks** and say that until this one is not finished, they should create `scss` using the `mobile first` and create the `mediaqueries` manually. *It will make the refactor easier solving conflicts.*

[2018-10-03 20:06] crysfel commented on #107
I don't think there will be a lot of css updates coming up in the next few days. But I will make sure to request mobile first css in PRs.

[2018-10-04 02:00] nitish24p commented on #112
@dhrubesh can i pick this up im done with most of it need to create a PR? If thats okay

[2018-10-04 02:02] nitish24p commented on #104
Can i pick this?

[2018-10-04 13:27] dhrubesh commented on #112
Sure, please go ahead.

[2018-10-04 15:32] emmawedekind commented on #104
Sure, assigned

[2018-10-04 15:35] emmawedekind commented on #110
Prototypes: https://projects.invisionapp.com/d/main#/projects/prototypes/15543566

[2018-10-04 15:35] #110 closed

[2018-10-04 15:36] emmawedekind commented on #112
Please update the pipeline to In Progress when you begin working.

[2018-10-04 15:43] emmawedekind opened #124 "Add links for social media accounts"
Adding links to social media icons.
Facebook: https://www.facebook.com/codingcoachio/
Twitter: https://twitter.com/codingcoach_io
Instagram: https://www.instagram.com/codingcoach_io/

[2018-10-04 16:13] #56 closed

[2018-10-04 16:13] #55 closed

[2018-10-04 18:31] charlesjliu commented on #81
I don't think we should have a `.env` committed into the repo.

https://www.npmjs.com/package/dotenv#should-i-commit-my-env-file

Is there a reason why those links are set using environment variables (slack etc.)? I don't think those should be set by the environment.

If anything, you could set default values if the environment variables aren't detected. We can have a sample `.env` file that devel

[2018-10-04 18:56] DanielRuf commented on #81
Exactly. dot-env are normally meant for credentials and user specific settings.

[2018-10-04 22:29] crysfel opened #125 "Reusable Components: TextField"
# Issue
We need to create a `TextField` component to use in different parts of our application. The component should be reusable and allow us to customize styles easily.

[code]

## Properties
- **value** The text to display in the textfield
- **onChange** A function that receives the new value when a user types a new char
- **onFocus** A function that gets executed on focus
- **onBlur** A functio

[2018-10-04 22:53] Venablena commented on #122
I'm done implementing and styling the footer but since the modal isn't here yet, I haven't implemented links to it.  I could create a pull request now and create a new issue for adding the modal functionality or I can stand by and wait for it. OR I can go ahead and build the modal too but I believe @linux-nerd is already working on it.

[2018-10-04 23:05] Venablena commented on #107
For me, mobile first approach didn't work. In other words: this produced the expected behavior of stacking horizontal items vertically on mobile:
`.footer {
  display: flex;
  flex-flow: row;
  justify-content: flex-end;
  text-align: right;
  @include respond-to(mobile){
    flex-flow: column;
    text-align: center;
    justify-content: center;
  };
}`

whereas this didn't:
`.footer {
  display:

[2018-10-05 00:04] Venablena commented on #120
What's the expected behavior here? Should the overlay be shown every time the page is loaded or do we want to keep something in local storage, for example, to remember who has visited the page already? I don't know what the rules here are at all.

[2018-10-05 02:00] crysfel commented on #52
Just to be clear, this task is only to build the UI in the frontend, we still don't have the final design so please be patient.

[2018-10-05 02:13] crysfel opened #127 "Reusable Components: Panel"
# Description
We need a `Panel` component that we can use anywhere in our application. It should be able to accept  a title, content and components in the footer.

[code]

If the `modal` property is set to `false`, the panel should render in place. For example in a sidebar or anywhere else.

## Properties
- **title** A string with for the main title (Optional)
- **closable** If `true` the panel sh

[2018-10-05 02:19] crysfel commented on #122
In order to build the modals we need to create these three components first:

#112
#125 <--- Would you like to take this one?
#127

[2018-10-05 04:53] dhrubesh commented on #125
If this one's unassigned, I would like to take this up.

[2018-10-05 04:55] linux-nerd commented on #127
@crysfel I was thinking of something like this -
[code]

The trigger will mount the component passed to it and on click of that component the popup will be toggled. Although for this structure 3 extra components will be created but it looks neat. Any thoughts?

[2018-10-05 05:49] linux-nerd opened #128 "'Coding Coach' text is coming in a single line."
# Issue

## Description

PR #73 overwritten PR #99 changes done to h1 tag to split the content to multi line. Right now the text 'Coding Coach' is coming in a single line.
Is this the required behaviour?

[2018-10-05 06:11] tureey commented on #128
Yes! I am using <br> to force the text be in 2 lines. But... I changes in another PR to use \n so it is isomorphic

[2018-10-05 06:18] linux-nerd commented on #128
@tureey I saw that '\n' for the line break. But its not working (not breaking the word in multiple lines) on Chrome version 69.0.3497.100 (Official Build) (64-bit) and Firefox Quantum version 62.0.3 (64-bit) on Mac

[2018-10-05 08:39] emmawedekind commented on #120
The cookies banner should appear at the bottom of the screen (sticky). The modal only appears if they click the link in the footer.

[2018-10-05 08:39] emmawedekind commented on #120
I've posted this on Invision. Please see the links in the Slack channel.

[2018-10-05 08:40] emmawedekind commented on #52
Yes, I am working on this, but the Privacy Policy, Cookies, and Terms & Conditions have higher priority.

[2018-10-05 11:36] tureey commented on #128
Mhh shit. I did not now that.. I didn't want to use `<br/>`...

[2018-10-05 11:40] tureey commented on #107
Is this comment older or newer than when we talked and you said it was solved? @Venablena

[2018-10-05 11:40] sojelee commented on #125
I am taking this issue

[2018-10-05 12:17] tureey opened #130 "As user I want to be able to scroll to the top clicking a button once I am not on the top of the page"
# Issue
Once the user has scrolled down, he can't go to the top of the page. He has to scroll to the top manually.

Would be nice to have a button that scrolls-top.

## Description

Float button at the bottom-right corner of the screen that scrolls to the top of the page

## Direct Requirements

- [ ] Create the component
- [ ] Functionality to scroll top

[2018-10-05 14:34] palashmon commented on #76
Any updates on this?

[2018-10-05 15:03] linux-nerd commented on #128
PR #113 fixed that issue using css. I was wondering if we decided against that technique, as it was merged by @crysfel 2 days back.
If there was no discussion and if you are fine with it, I can make changes and raise a new PR for the same.

[2018-10-05 16:00] crysfel commented on #128
@linux-nerd please do that, I liked your original implementation

[2018-10-05 16:06] crysfel commented on #127
I don't think the `trigger` property is necessary. Also, we might want to use this panel without the modal window functionality, just a regular panel container in the sidebar for example. Therefore, I think we should add a `modal` property for the case when we want to show the panel as a modal window.

[code]

I'm going to update the original issue with these changes.

[2018-10-05 16:46] arthurbuhl commented on #127
Just wanted to know, in case the image inside this panel is of very large size, will that prevent the whole panel from rendering until the image is loaded fully?

[2018-10-06 13:27] emmawedekind commented on #128
Assigned

[2018-10-06 13:27] emmawedekind commented on #76
@crysfel I'm oddly enough not getting ANY requests....

[2018-10-06 15:42] CoryKelly commented on #116
Has this issue been taken yet?

[2018-10-07 01:44] crysfel opened #133 "Integrate `bundlesize`"
# Issue

We need to integrate the `bundlesize` package: https://github.com/siddharthkp/bundlesize It will help us to keep track of our final bundle.

[2018-10-07 01:46] crysfel commented on #127
@arthurbuhl which image?

[2018-10-07 03:42] dhrubesh commented on #133
Hey, I will take this.

[2018-10-07 04:40] arthurbuhl commented on #127
The image inside the sample panel markup inside `Panel.Content` below

[code]

[2018-10-07 05:24] arthurbuhl opened #134 "CI tests failing"
# Issue

## Description

Tests are failing on travis CI
Link - https://travis-ci.org/Coding-Coach/coding-coach/builds/438155969
Script - `npm run test`

## Failed Files

-  src/components/contact/__ tests __/SocialMedia.test.js
   -  `expect(value).toMatchSnapshot()` - Received value does not match stored snapshot 1.
-  src/components/contact/__ tests __/Contact.test.js
   - Unable to find an elem

[2018-10-07 05:43] emmawedekind commented on #133
Assigned!

[2018-10-07 05:44] emmawedekind commented on #116
I don't think so? I can assign you @CoryKelly

[2018-10-07 05:46] emmawedekind commented on #134
I've restarted the build... hopefully it passes now.

[2018-10-07 06:10] arthurbuhl commented on #134
The build was actually terminated this time at it was running for more than 10 mins and a normal CI build usually takes about 2-3 mins:

[code]

I think `Webpack Bundle Analyzer` script should not be present in Travis CI build. That might be the issue for the stalled build.

[2018-10-07 06:15] linux-nerd commented on #134
@arthurbuhl, @emmawedekind The test for Contact.test.js failed because the alt text of logo was changed to 'Person using a magnifying glass to see the details of another guy.      ' and the one used in the test file is 'people search logo'

[2018-10-07 06:29] arthurbuhl commented on #134
Ok, also I found that translation is not used in Contact.test.js and text there is hard-coded in English there. Will that cause an issue failing the test in any scenario?

[2018-10-07 06:46] arthurbuhl commented on #134
Also, it would be great if we add test script to `lint-staged` so that before any commit we always make sure tests are running fine, something like

https://github.com/facebook/create-react-app/issues/2336

[2018-10-07 16:48] nitish24p commented on #112
@crysfel
Instead should we have a generic button component which does
[code]
This way we neednt have a label prop, the children can be text, image, span, loader whatever? what say?

[2018-10-07 17:53] linux-nerd commented on #112
And instead of onPress I would suggest onClick event. This is a more generic event. This is helpful whenever we have to use cloneElement to clone some component/node `React.cloneElement(component, { onClick: this.handleClick })` we can use generic onClick instead of onPress as it will work for both `<Button />` and `<button></button>`

Something like this -
[code]

[2018-10-08 07:41] emmawedekind commented on #134
I think the build is passing now... can someone verify this?

[2018-10-08 08:17] arthurbuhl commented on #134
@emmawedekind yes, CI is passing now. @crysfel just needs to approve the PR #136 and then you should be able to merge it.

[2018-10-08 14:27] #134 closed, assigned to nobody

[2018-10-08 16:06] crysfel commented on #127
No, the content should be independent of the Panel. We are going to add a placeholder for loading large images, I have a PR where I'm going to include that.

[2018-10-08 16:13] crysfel commented on #112
@linux-nerd I'm ok with `onClick`, I was thinking since we are doing mobile first onPress/onTouch might make more sense.

Let's go with `onClick`, I will update the issue.

[2018-10-08 16:18] crysfel commented on #112
@nitish24p that's what I was thinking for the second use case. I was just thinking on providing two different options, but it might makes more sense to have a single use case to avoid confusion.

[2018-10-09 01:04] Venablena commented on #107
@tureey It's newer.

[2018-10-09 03:59] Venablena commented on #120
@emmawedekind I didn't see this in InVision but the above image is enough, I think :).
@crysfel Do you want to store it in localStorage without expiration (when the icon has been clicked once on any given device/profile, we won't show this again) or use sessionStorage (it will pop up every time a new window is opened)? I think the latter sounds annoying but just want to make sure. Is it enough to

[2018-10-09 15:17] #108 closed

[2018-10-09 15:17] #109 closed

[2018-10-09 15:33] nero2009 commented on #124
Hi Emma, is this task taken

[2018-10-09 17:11] #76 closed

[2018-10-09 20:10] crysfel commented on #120
I'd say to save in the local storage to show it only once. A boolean value is ok to save, `acceptedCookies=true`.

[2018-10-09 20:12] crysfel commented on #33
Done! Please wait until the PR for the textfield and button are merged. Also, we need a tab component before working on this task.

[2018-10-10 04:35] tureey commented on #127
Am I the only one that doesn't like the name `closable`? What about `canBeClosed`?

[2018-10-10 04:44] tureey commented on #120
`AreCookiesAccepted`? 😋

[2018-10-10 04:48] linux-nerd commented on #127
I am fine with closable. :)

[2018-10-10 05:12] tureey commented on #130
I was going to do that but since I still have to finish https://github.com/Coding-Coach/coding-coach/pull/123 I assign this to you

[2018-10-10 05:14] tureey commented on #130
@emmawedekind @crysfel I can't assign the task to him. Any reason why he doesn't appear on the list?

[2018-10-10 05:14] emmawedekind commented on #130
I sent him an invitation to the org. He has to accept.

[2018-10-10 05:29] linux-nerd commented on #127
I like that word `succinct`

[2018-10-10 05:33] emmawedekind commented on #121
Yes that would be great!!

[2018-10-10 05:33] emmawedekind commented on #121
Please accept the organization invitation!

[2018-10-10 05:38] emmawedekind commented on #124
Nope, I can assign you if you're interested!

[2018-10-10 06:05] tureey commented on #94
Since the standard now is to use the variables we have available on `_variables.scss` can we close this? @emmawedekind @arthurbuhl

[2018-10-10 06:07] tureey commented on #75
Since **we have translated** the alternative texts should we **close this**? @emmawedekind

[2018-10-10 06:27] #94 closed, assigned to nobody

[2018-10-10 06:28] #75 closed

[2018-10-10 13:55] arthurbuhl opened #144 "Integrating Flow"
## Issue

### Description

[Flow](https://flow.org/en/) is a static type checker for your JavaScript code. It does a lot of work to make us more productive. Making us code faster, smarter, more confidently, and to a bigger scale.

Create React App already supports Flow by default. All we need to do is install Flow and create a `.flowconfig` file by running `flow init`.

[code]

Flow will be run as

[2018-10-10 18:10] crysfel commented on #127
First time I hear the word `succinct` 👌

[2018-10-10 18:17] crysfel commented on #130
@dbanbahji done!

[2018-10-10 18:18] crysfel commented on #121
Assigned to @dbanbahji

[2018-10-11 03:42] dbanbahji commented on #121
Awesome thanks, already started.

[2018-10-11 03:43] dbanbahji commented on #130
Thanks!

[2018-10-11 05:32] tureey commented on #127
Same hahaha I had to translate that. Worst part? I had to look for the meaning of the Spanish word too hahaha 🤦‍♂️

[2018-10-11 05:43] linux-nerd commented on #127
Haha I mostly come across this word in the blog posts and all the time I skipped by inferring the meaning. When @emmawedekind used it I searched how to pronounce it 😂

[2018-10-11 05:56] tureey commented on #107
@Venablena It worked for me! I updated my PR with it.

[code]

Doing this, on low resolutions, the items are stack one under the next. In higher screens **from tablet and wider** they are one next to the another one and aligned on the right side.

[2018-10-11 06:02] tureey commented on #121
I set the task in progress

[2018-10-11 06:44] nitish24p commented on #144
If we do this then proptypes arent needed right

[2018-10-11 19:34] tureey commented on #47
Does this epic include something else than the section on the home? The same for **About** and **Contact**.

If the answer is `YES` it's okay, if not, we could close them and clean up the backlog slowly!
@emmawedekind @crysfel

[2018-10-11 20:03] mayeedwin commented on #121
We can use Firebase Authentication service and store the emails with cloud Firestore and even send the needed sign up email.

[2018-10-11 20:11] charlesjliu commented on #144
I don't think we wanted to introduce type checking to keep the barrier to entry for other contributors low.

That said, if we do want to add type checking ... `typescript` >>> `flow` all day 🙃

[2018-10-11 22:58] tureey commented on #144
I agree with @charlesjliu

[2018-10-12 21:20] crysfel commented on #144
This is the reason we decided not to use flow or typescript

[2018-10-12 23:18] Venablena opened #147 "Refactor Contact component to use HomeSection component"
#Issue

Contact component is the only homepage section having its separate component, other homepage sections use the HomeSection template.  For consistency, contact component should be refactored using the same model.

[2018-10-12 23:20] #147 closed

[2018-10-12 23:36] tureey commented on #144
So the conversation is over. Isn't it? If so, then the issue should be closed @crysfel

[2018-10-12 23:38] tureey commented on #47
I've seen that the first issues were created as epic. I think #47 #48 #49 are meant to de development that's already done. by let's wait for @emmawedekind . I'll have to read docs about how exactly issue-task is realted in github to do a good proposal on how we can organize things.

[2018-10-12 23:45] tureey commented on #34
Once the designs are ready. I'd love to take this one! 😄

[2018-10-13 05:17] arthurbuhl commented on #144
Ok, seems like we don't need flow here. Should I close this issue @emmawedekind @crysfel?

[2018-10-15 08:31] emmawedekind commented on #47
I believe these epics are ready to close, so long as all of those are merged to develop. Are all of the sub-tasks/issues/etc. merged?

[2018-10-15 08:32] emmawedekind commented on #144
I can go ahead and do it, thanks.

[2018-10-15 08:32] #144 closed

[2018-10-15 08:39] emmawedekind commented on #121
Do you guys want a design for an email template?

[2018-10-15 10:09] nitish24p commented on #104
Will use do this once the buttons PR gets merged :)

[2018-10-15 13:31] emmawedekind opened #149 "Donation Banner"
Add a donation banner to the landing page to allow the community to help fund the hosting, logo creation, etc.

Code for the button:
[code]

[2018-10-15 13:39] aswinsekar commented on #149
I'll do this

[2018-10-15 13:39] emmawedekind commented on #149
Super! I'll assign you and post the designs here once they're ready!

[2018-10-15 18:16] tureey commented on #121
Just sketch something fast. If not, we can use a standard template... there are a lot!
If not, select like 2-3 templates, customize them with the logo and do a poll in slack, as you prefer!

I would go for something minimal though! @emmawedekind

[2018-10-15 18:19] tureey commented on #103
It's this still relevant? I mean, since mobile designs are done. Do we still have to change these font-sizes? @crysfel For me they look OK

[2018-10-15 18:20] tureey commented on #47
At least related to Mission #56 and About #55  yes. There were one task for each other. Both developed, closed and merged @emmawedekind

[2018-10-15 19:29] aswinsekar commented on #149
- @emmawedekind   The button code seems to be missing, Update it once!

[2018-10-15 20:48] crysfel commented on #104
The `Button` PR has been merged! When working on this task, make sure to use our shiny new `Button` :)

[2018-10-16 05:32] dbanbahji commented on #121
Yeah i started on some of the html email part and some trying to keep it mobile responsive, but its just really general text. Do we have a logo or pictures or a message we want to really convey?

[2018-10-16 06:40] tureey commented on #121
@dbanbahji FYI, @emmawedekind payed for a logo and something else.
I don't know how much time will take but, I would use a placeholder and use the Logo once we have it.

Related to the texts and copies, we should think about what kind of platform do you want. Neutral or close to the user?

For a welcome email though, I would do something like
[code]

[2018-10-16 07:29] emmawedekind commented on #149
It's in the description:
![image](https://user-images.githubusercontent.com/7671983/46999398-defe4100-d125-11e8-8da8-bcdfaebad5c4.png)

@aswinsekar Did you want me to un-assign you from this given our conversation?

[2018-10-16 16:57] crysfel commented on #127
Great work!

[2018-10-16 16:57] #127 closed

[2018-10-16 17:34] tureey commented on #149
Is there any Idea though about where to place this banner @emmawedekind ? If the task is un-assigned for any reason, I would love to take it. Just saying.

*PS: I guess this `code snippet` was generated by you in Paypal? If that's the case, I think there is some code missing because there is a closing `</form>` tag but is not opened.*

[2018-10-16 17:37] tureey commented on #121
I do thing the easiest and most beautiful are the ones with minimal design. A logo, some text customized using the userName, some information and links to help him out reaching interest points for new users and ofcourse, a warm welcome to the community/family!

You are in cahrge @dbanbahji  hahahah :yum:

[2018-10-17 18:01] tureey commented on #149
Since **we need this as soon as possible**, I am going to start with it. **Sorry** @aswinsekar .
**If you read this**, as soon as possible text me and we can talk about it and I can let you finish if I didn't by then.

[2018-10-18 00:17] #120 closed

[2018-10-18 16:19] linux-nerd commented on #117
@crysfel , @emmawedekind I am working on this. One question - When should this popup open? Open the click of ?

[2018-10-18 17:54] tureey commented on #117
In the footer there is a `footer-privacy` link. I guess that clicking there. @linux-nerd

[2018-10-19 03:28] crysfel commented on #117
@linux-nerd what @tureey said 👆

[2018-10-19 03:30] #128 closed

[2018-10-19 03:37] crysfel commented on #149
@emmawedekind how/where are we going to display the button? I think we should add another section in the home page asking for donations.

[2018-10-19 04:16] #112 closed

[2018-10-19 10:59] emmawedekind commented on #149
Maybe in the footer on the left side? Let me put together a quick mock up tonight!

[2018-10-19 16:04] emmawedekind commented on #149
Thinking we can just add the button to the footer like this. Obviously the background-color would match the app!
![image](https://user-images.githubusercontent.com/7671983/47229989-615a5f80-d3c9-11e8-9e75-44e9372a18a8.png)

[2018-10-19 23:42] Venablena opened #156 "Give Feedback task flow"
Create a UX flow diagram for giving app feedback from Dashboard View (see `design` branch for instruction and the full information architecture diagram).

[2018-10-19 23:44] Venablena opened #157 "Report Abuse task flow"
Create a UX flow diagram for reporting abuse from the Dashboard View (see `design` branch for instruction and the full information architecture diagram).

[2018-10-19 23:45] Venablena opened #158 "Remove mentor/mentee task flow"
Create a UX flow diagram for removing a mentor or mentee from the Dashboard View (see `design` branch for instruction and the full information architecture diagram).

[2018-10-19 23:46] Venablena opened #159 "Mentor recommendation task flow"
Create a UX flow diagram for giving mentor recommendations from the Dashboard View (see `design` branch for instruction and the full information architecture diagram).

[2018-10-19 23:49] Venablena opened #160 "Edit user profile & remove user profile task flow"
Create a UX flow diagram for editing user profile details and removing the entire user profile in the Profile View (see `design` branch for instruction and the full information architecture diagram).

[2018-10-19 23:51] Venablena opened #161 "Mentorship Invitation task flow"
Create a UX flow diagram for sending an invitation to a potential mentor/mentee from the Profile View (see design branch for instruction and the full information architecture diagram).

[2018-10-21 04:43] arthurbuhl opened #163 "Add rel="noopener noreferrer" to target="_blank""
### Description

`rel="noopener noreferrer"` should be added to links containing `target="_blank"` as a precaution against reverse tabnabbing. For more information, please refer to the following article:
https://www.jitbit.com/alexblog/256-targetblank---the-most-underestimated-vulnerability-ever/

### Code

https://github.com/Coding-Coach/coding-coach/blob/028e2d01a74712d6745671d00b13159ff5459f62/

[2018-10-22 17:16] linux-nerd commented on #116
@CoryKelly If you have not started working on this, I can complete the same on my PR #117

[2018-10-24 17:45] emmawedekind commented on #121
I have set up a Mail Chimp account for us and sent the first campaign:
https://mailchi.mp/0f6dc50ad189/welcome-to-coding-coach

[2018-10-24 17:45] #121 closed

[2018-10-24 17:52] emmawedekind opened #164 "Update Landing Page Buttons"
Button should link to: https://docs.google.com/forms/d/e/1FAIpQLSePvp-0FThEoJSZOFByoWu0Fgaz6Ki53H-h9p8siyDdnUkTPw/viewform

![image](https://user-images.githubusercontent.com/7671983/47450730-4a02e400-d7c6-11e8-9ac3-209d101a7408.png)

Remove button underneath header and remove Log In and Sign Up buttons.

[2018-10-24 17:53] emmawedekind opened #165 "Add Favicon"
![pp1](https://user-images.githubusercontent.com/7671983/47450785-69017600-d7c6-11e8-8b07-34ee03525934.png)

[2018-10-24 17:54] emmawedekind opened #166 "Update Landing Page With New Styles"
I have implemented a cleaner UI for the landing page with new branding.
- **New font:** Helvetica Neue Light
- Remove colored sections
- Add logo (ask Emma for SVG of logo and 'Coding Coach' text)
- Update section titles
- Remove imported fonts (use Helvetica Neue above)

![image](https://user-images.githubusercontent.com/7671983/47451015-f80e8e00-d7c6-11e8-89a8-54930ac1f0a8.png)

[2018-10-24 17:55] emmawedekind opened #167 "Update image in header"
![image](https://user-images.githubusercontent.com/7671983/47450937-c39ad200-d7c6-11e8-9623-4b0be984ced4.png)

Grab SVG from here: https://undraw.co/illustrations
Name is developer activity
Color palette is turquoise:
![image](https://user-images.githubusercontent.com/7671983/47450925-b5e54c80-d7c6-11e8-8ddd-5703e03e8f8d.png)

[2018-10-24 17:58] emmawedekind opened #168 "Remove Sidebar"
If a sidebar exists from the new landing page, remove it. Keep the component (we'll use later) but remove the hamburger menu.

[2018-10-24 18:37] crysfel commented on #165
@gulshansainis done! @emmawedekind are you going to upload the icon here: https://projects.invisionapp.com/boards/UF3Q7E6QEZM ??

[2018-10-24 18:42] nitish24p commented on #164
@emmawedekind is this button type just for the landing page or we make this a reusable component?

[2018-10-24 22:42] crysfel commented on #164
We can implement a `rounded` prop to many any button rounded like this.

[code]

By default is `false`

Thoughts?

[2018-10-25 04:14] tureey commented on #168
I think we did not develop it at the end @emmawedekind

[2018-10-25 11:46] emmawedekind commented on #165
Here is the link to the favicon: https://projects.invisionapp.com/d/main#/projects/boards/6261486/186092339

[2018-10-25 11:47] emmawedekind commented on #164
I'm going to close this issue right now because this will change - we will implement a "Sign up for email list" (or something similar) section in the page flow. So this task will become obsolete.

[2018-10-25 11:47] #164 closed

[2018-10-25 11:47] emmawedekind commented on #166
Closing this as I need to add/edit a few styles first.

[2018-10-25 11:47] #166 closed

[2018-10-25 11:47] emmawedekind commented on #168
Cool - closing

[2018-10-25 11:47] #168 closed

[2018-10-25 11:48] emmawedekind commented on #167
Closing this because I need to update a few styles first.

[2018-10-25 11:48] #167 closed

[2018-10-25 11:48] emmawedekind commented on #149
Closing this as it was fixed by #153

[2018-10-25 11:48] #149 closed

[2018-10-25 12:01] emmawedekind commented on #124
Closing as this has already been implemented.

[2018-10-25 12:01] #124 closed

[2018-10-25 12:01] emmawedekind commented on #130
What's the status of this?

[2018-10-25 12:01] emmawedekind commented on #122
Closing as this is implemented!

[2018-10-25 12:01] #122 closed

[2018-10-25 12:07] emmawedekind opened #169 "Add Mail Chimp email section"
Add a section to the new landing page which allows users to sign up for the Email list through Mail Chimp. Design to follow.

<img width="1531" alt="screen shot 2018-11-07 at 11 08 15 am" src="https://user-images.githubusercontent.com/219207/48147674-7d8d4600-e27d-11e8-8964-10e0f3c1f26f.png">

Link to sketch file:
https://sketch.cloud/s/xVR5A/wL9QEbE

[2018-10-25 13:52] emmawedekind commented on #165
I don't know why you wouldn't have access... can you please reach out to me on Slack?

[2018-10-25 15:31] tureey commented on #163
I'll take this

[2018-10-25 15:36] tureey commented on #164
I prefer to have a prop called `shape` with possible values `square` `rounded` `pill` for example. The reason it's **because enums are more maintainable than booleans**.

square-> border-radius: 0
rounded-> border-radius: 3px
pill-> border-radius: 500px/100% depending

And we have everything covered. Thoughts? @crysfel

[2018-10-25 15:38] tureey commented on #130
@dbanbahji ping

[2018-10-25 18:32] tureey commented on #157
Miiine :smile:

I will try to do this. Provide all the feedback please so everyone can learn from you :heart:

[2018-10-25 18:39] tureey opened #172 "Create Spanish translations for the Application"
# Issue
We don't support Spanish language.

## Description
Add translations for it

[2018-10-25 18:48] #107 closed

[2018-10-25 19:07] crysfel opened #174 "Async legal content"
# Issue

## Description

We currently have the *privacy policy* and  *terms and conditions* content inside the i18n files. One of the problems that we have is that these documents contain some styles and custom content. For now we are releasing it as it is.

Given that modal won't be open very frequently by the users, it would be better to store the content of these documents in markdown files and

[2018-10-25 19:42] tureey commented on #174
For sure that there are libraries that convert from `markdown` to `jsx`. At the company I work for we have one but it's private.

I'll try to look for it and update the description

[2018-10-27 06:12] emmawedekind opened #176 "Replace bear icon with logo"
![image](https://user-images.githubusercontent.com/7671983/47600336-05db3380-d9c0-11e8-864f-3b925696c2a0.png)

You can find the logo here:
https://projects.invisionapp.com/boards/UF3Q7E6QEZM/

![image](https://user-images.githubusercontent.com/7671983/47600351-38852c00-d9c0-11e8-87a7-1e04f0a4b59f.png)

[2018-10-27 07:28] palashmon commented on #163
This issue can be closed now.

**Tip:** You can include keywords in your pull request descriptions, as well as commit messages, to automatically close issues in GitHub when a corresponding pull request is merged.

More Info here: [Closing issues using keywords](https://help.github.com/articles/closing-issues-using-keywords/)

[2018-10-27 08:36] splinterific commented on #176
Happy to give it a look if you're ok with that! :)

[2018-10-27 09:07] splinterific commented on #176
I left the old hero logo in the assets folder. I can update and remove if needed. I also updated the alt text

[2018-10-27 09:46] tureey commented on #163
I did not now that @palashmon. That's ammazing!

[2018-10-27 13:52] emmawedekind commented on #176
Closed with #177

[2018-10-27 13:52] #176 closed

[2018-10-27 17:17] timReynolds commented on #79
Travis CI [does have early stage windows support](https://docs.travis-ci.com/user/reference/windows/).

I assume the reasoning for wanting this is developer experience for this using windows to develop? Node and NPM on windows has gotten much better over the years but still isn't a nice experience, volume mounting the source into a docker container is another great alternative.

[2018-10-27 18:29] DanielRuf commented on #79
I know and we should use Travis CI otherwise you have to provide and create your iwn solution. TravisCI uses Windows Server 2016 for the Windows builds and there are enough resources.

[2018-10-27 18:31] DanielRuf opened #179 "Failing CI"
# Issue

Currently the builds fail due to some secret masking happening or similar: https://travis-ci.org/Coding-Coach/coding-coach/builds/447089836

[2018-10-27 18:31] #79 closed

[2018-10-27 18:32] DanielRuf commented on #163
`closes #issuenumber` in commits and PRs works. or `fixes #issuenumber`

[2018-10-27 19:13] tureey commented on #163
but doesn't matter which commit? I mean, can I just do it in the first one?  @DanielRuf

[2018-10-28 11:40] tureey commented on #163
nice! Thank you so much @DanielRuf

[2018-10-28 16:11] #98 closed

[2018-10-28 16:11] #101 closed

[2018-10-28 16:12] tureey commented on #105
Since we will not do this I close the issue

[2018-10-28 16:12] #105 closed

[2018-10-28 16:12] tureey commented on #163
Finished and merged.

[2018-10-28 16:12] #163 closed

[2018-10-28 16:13] tureey commented on #172
Finished and merged

[2018-10-28 16:13] #172 closed

[2018-10-29 16:35] crysfel commented on #179
Now is green again... this snapshoot testing is not actually helping, it doesn't play well with different environment values.

[2018-10-29 17:01] #179 closed

[2018-10-30 16:07] emmawedekind opened #186 "Fix height of Privacy Policy modal"
Privacy policy modal has whitespace.  It should be fit to the content size.

![image](https://user-images.githubusercontent.com/7671983/47732212-072d8a00-dc66-11e8-801d-e9b27e42f89d.png)

[2018-10-30 16:08] emmawedekind opened #187 "Fix focus state of close button in modal"
The focus/hover state of the close button in the modals doesn't have a high enough contrast. I will provide a design of a more contrasted hover/focused state. This is important for keyboard accessibility (the user must be able to see where their cursor/focus is).

![image](https://user-images.githubusercontent.com/7671983/47732427-75724c80-dc66-11e8-817a-230ba067a71f.png)

[2018-10-30 16:10] emmawedekind opened #188 "UI shifts when a modal is opened"
Re-creation steps:
1. Click Terms & Conditions link in footer

Expected behavior: UI in the background should remain in the same position.
Actual behavior: UI in the background shifts a couple of pixels to the right.

![image](https://user-images.githubusercontent.com/7671983/47732533-ac486280-dc66-11e8-9df6-f73760fdd698.png)

![image](https://user-images.githubusercontent.com/7671983/47732542-b1a

[2018-10-30 16:11] emmawedekind opened #189 "Add PayPal button to footer"
The PayPal DonationButton component exits, but the PayPal account currently has an issue. Emma wil fix the account and then fix the component.

[2018-10-30 16:12] emmawedekind opened #190 "Slack organization link should open in a new window"
![image](https://user-images.githubusercontent.com/7671983/47732664-f16c9480-dc66-11e8-899d-d2557238778f.png)

[2018-10-30 16:33] linux-nerd commented on #190
I will take this

[2018-10-30 16:53] tureey commented on #188
Yes, that's actually made on purpose by me... I wanted to make sure we had no problems with the body scroll. It's annoying when you scroll and it affects to the body content. that's why..

To evade this, I added a class to the body called `u-overflowHidden`. this class makes:
[code]

But if you guys think its better to do not have this "movement" on the window, just remove it ^^

[2018-10-31 01:40] linux-nerd opened #195 "The user is taken to different sections without animation."
# Issue

## Description

When Learn More is clicked, it animates and take the user to About Section. But when the user navigates from the header links -> About/Mission/Contact. The user is taken to these sections without animation.

The behaviour should be consistent.

## Direct Requirements

- on click of the menu items, the user should be taken to the desired section with animation.

[2018-10-31 03:53] linux-nerd commented on #188
Updated and PR - #196 raised.

[2018-10-31 04:04] linux-nerd opened #197 "Modal when opened changes the url"
# Issue

## Description

Whenever a modal window is opened, the url gets appended with `#something`. In case of popup this dosen't make sense.

## Screenshot

<img width="1511" alt="screen shot 2018-10-31 at 9 26 35 am" src="https://user-images.githubusercontent.com/2995641/47765398-c5e1bc80-dcef-11e8-81ab-9177db81b6ec.png">

<img width="1532" alt="screen shot 2018-10-31 at 9 26 06 pm" src="https:

[2018-10-31 05:32] tureey commented on #195
The call the action (button) takes you smoothly to the about sextion because it uses a scrollIntoView. The click event is catched and then we scroll.

Same logic would have to be implemented.

[2018-10-31 05:32] tureey commented on #195
Shit sorry hahahah

[2018-10-31 05:34] linux-nerd commented on #195
😆

[2018-10-31 05:37] tureey commented on #197
To do this then the footer links should be buttons and not links if I am not wrong. It actually makes more sense since they are not acting as anchors

[2018-10-31 05:39] linux-nerd commented on #197
Yep 👍

[2018-10-31 08:56] nero2009 commented on #197
Can I handle this or is someone already on it

[2018-10-31 09:30] linux-nerd commented on #197
@nero2009 Go ahead!
@emmawedekind can you assign this issue to @nero2009

[2018-10-31 09:42] nero2009 commented on #197
Should I use the Button component or I should use a html button then style it like a link

[2018-10-31 11:51] linux-nerd commented on #195
PR - #201 raised

[2018-10-31 11:55] linux-nerd commented on #197
I would recommend using Button component. @crysfel @tureey your view?

[2018-10-31 12:05] nero2009 commented on #197
The Button component looks good
![cookies](https://user-images.githubusercontent.com/29065069/47786907-904bcc00-dd0d-11e8-8360-642b26791dfd.JPG)

[2018-10-31 12:47] emmawedekind commented on #197
No this needs to be a ternary button, which looks like a link.

[2018-10-31 12:48] emmawedekind commented on #197
Do not use a primary button for this, please.

[2018-10-31 13:11] nero2009 commented on #197
Oh my bad, I didn't know there was a tertiary button that will be a better fit.
![cook](https://user-images.githubusercontent.com/29065069/47790193-d194a980-dd16-11e8-886f-187f0d7cd3c6.JPG)

[2018-10-31 15:18] #190 closed

[2018-10-31 15:33] #34 closed

[2018-10-31 15:33] #42 closed

[2018-10-31 15:44] crysfel commented on #195
Thanks!

[2018-10-31 15:44] #195 closed

[2018-10-31 15:46] #188 closed

[2018-10-31 15:46] #165 closed

[2018-10-31 15:55] linux-nerd commented on #197
@nero2009 Please apply same fix to Privacy Policy, Terms and Condition and Cookie Policy in the footer. I will update the issue 😄

[2018-10-31 22:24] msweeneydev opened #204 "Navbar spills over onto second line on narrowest screens"
# Issue

## Description

Navbar spills over onto second line on narrowest screens, this was first noticed using an iPhone SE and after investigating this issue seems to occur almost exactly at the 320px breakpoint.

## Screenshot

![alt text](https://image.ibb.co/dvQ2Sf/Screenshot-2018-10-31-22-16-05.png "Navbar issue")

## Direct Requirements

- [x] Add media query to handle display of Navbar on

[2018-10-31 22:30] msweeneydev commented on #204
Plenty of ways this could be handled, the simplest being to take a bit of padding away, changing from 2rem to 1rem would achieve this but will look slightly odd with regular left alignment. I suggest reducing the padding at the <320px breakpoint but also using justify-content: space-between to keep things readable but aligned.

[2018-10-31 22:36] tureey commented on #204
What device is this? IPhone5 has not a lot of width.. and it looks fine there!

I've check the styles and personally I would change the `margin-right` of the links from `2rem` to `1rem`, but the implementation is all your thing ^^

Surprise us @msweeneydev ! haha

[2018-10-31 22:38] msweeneydev commented on #204
This is using an iPhone SE, I don't think you can get much narrower these days so it's only a minor issue.

I'll have a look over the weekend but I think I'll probably go with what I outlined above 👍

[2018-10-31 23:11] tureey commented on #204
Good catch btw with the issue! And thanks for contributing 😄

[2018-11-01 05:30] feysalikbal commented on #186
I can have a look at it.

[2018-11-01 07:56] emmawedekind commented on #204
Thanks so much for opening an issue and contributing :)

[2018-11-01 07:57] emmawedekind commented on #186
Are you added to the org? I can't assign you.

[2018-11-01 08:19] msweeneydev opened #205 "Manifest.json needs completing"
# Issue

## Description

Currently, the manifest remains as the boilerplate. It needs a few minor changes to bring it it line but is certainly not urgent.

## Direct Requirements

The following need to be changed:

- [x] short_name
- [x] name
- [x] theme_color
- [x] background_color

## Indirect Requirements

We may wish to have some discussion about further additions to the manifest, there are pl

[2018-11-01 14:22] feysalikbal commented on #186
No, I am not added to the organization.

[2018-11-01 16:32] crysfel commented on #205
Would you like to take this?

For the current deployment I manually updated that file just before deploying https://github.com/Coding-Coach/coding-coach/blob/gh-pages/manifest.json#L2 😂

[2018-11-01 16:35] #117 closed

[2018-11-01 16:36] #116 closed

[2018-11-01 20:53] msweeneydev commented on #205
Happy to take it, another I’ll get round to this weekend :thumbs_up:

[2018-11-02 06:34] tureey commented on #197
As a work around is okay. I agree with @reactiongears though. But we need first to develop something form `markdown` to `jsx` and think about how to translate them!

[2018-11-02 19:13] msweeneydev commented on #205
Both names can be the same actually, the only constraint on the short_name is that it must be 12 characters or less, lucky it's 12!

[2018-11-02 22:28] msweeneydev opened #209 "Fix unsafe state mutations"
# Issue

## Description

There are two points in the codebase where we are directly referencing the 'current' state inside of a setState call. Due to the way React can 'batch' setState calls for performance reasons, this is unsafe and can lead to unpredictable outcomes.

Here is how the functions are currently constructed:

`toggleModal = () => {
    this.setState({
      showModal: !this.state.sh

[2018-11-03 00:53] feysalikbal commented on #186
Mobile:
![privacy_policy_modal_res_320](https://user-images.githubusercontent.com/21144691/47946351-649a3300-df13-11e8-9da7-419fb2675ef8.jpg)

Tablet:
![privacy_policy_modal_res_768](https://user-images.githubusercontent.com/21144691/47946362-7f6ca780-df13-11e8-93a0-47550d1c5d2f.jpg)

Desktop:
![privacy_policy_modal_res_1024](https://user-images.githubusercontent.com/21144691/47946366-85fb1f00-df1

[2018-11-03 17:08] feysalikbal commented on #187
That's true I hardly noticed any change on the focus/hover state of the close button.

[2018-11-04 14:13] tureey commented on #186
Looks really good! @feysalikbal

[2018-11-04 16:00] #209 closed

[2018-11-04 16:01] crysfel commented on #209
@tureey this is what I was referring in my code review, I thought we changed it. Anyway, there's a PR fixing this.

Thanks @msweeneydev for catching that!

[2018-11-04 20:35] tureey commented on #209
oh, I did not understand you then @crysfel 🙏

 I am used to deconstruct state `{ }`

[2018-11-05 00:32] feysalikbal commented on #186
Thanks :)

[2018-11-05 16:47] #205 closed

[2018-11-05 19:33] emmawedekind opened #212 "Update button styles"
Primary and Secondary button hover/focus states need updating. I am removing the bottom border darkening and adding a full on background-shade.

Please add a transition of .1s linear on the background color so it flows smoothly.

Additionally, I've added styles for Primary and Secondary round buttons.  There are instances where we'll need round buttons so please add them to the component :)

![ima

[2018-11-05 19:33] emmawedekind opened #213 "Update Input Box Styles"
I updated the input boxes so that the label overlays the border.

![image](https://user-images.githubusercontent.com/7671983/48021932-1b77f800-e13a-11e8-81ff-725c3c639e0e.png)

[2018-11-05 19:41] #213 closed

[2018-11-05 19:49] emmawedekind commented on #33
The styles on this will be changing.

[2018-11-05 21:32] crysfel commented on #212
@splinterific all yours!

[2018-11-06 12:52] #197 closed

[2018-11-06 13:34] crysfel commented on #212
@emmawedekind can you upload the sketch file to invision board? It will be easier to implement if we have it ;)

[2018-11-06 15:15] #204 closed

[2018-11-06 16:00] emmawedekind commented on #212
You can grab it all here: https://sketch.cloud/s/xVR5A

[2018-11-06 16:11] nitish24p commented on #212
@emmawedekind sorry but is there a difference between the hover and the clicked states.. both looked identical

[2018-11-06 16:46] linux-nerd opened #214 "Automate deployment to gh pages"
# Issue

## Description

Right now the deployment to gh-page is done manually. This is not very efficient. The process of deployment should be automated.

## Direct Requirements

1. Break down the build task to 4 stages - Lint, Test, Build and Deploy
2. If the branch is other than master skip the deploy stage
3. If the branch is master run the deploy stage

[2018-11-06 17:47] linux-nerd commented on #214
@emmawedekind, @crysfel can you assign this issue to me 😄

[2018-11-06 18:19] crysfel opened #216 "Integrate tailwind to handle the css for us"
# Issue
Tailwind is a great css utility library, it allow us to build UIs with little to none css. It supports mobile first by default and it can easily be customized to our needs.

## Description
The idea is to slowly migrate all our components to tailwind. The first step is to integrate tailwind into our stack and customize it to our needs. Meaning, we are going to set the colors, spacing, fonts

[2018-11-06 18:22] crysfel commented on #214
You are Abishek in Slack, right? Just making sure two different people are working on the same thing 😂

@emmawedekind we should add a field in slack to enter our github username. Not everyone uses the same name or avatar

[2018-11-06 18:43] linux-nerd commented on #214
Hahaha thats right @crysfel

[2018-11-06 21:05] tureey commented on #214
I actually don't use the same.. But my yoga profile picture is meaningful :laughing:

[2018-11-07 07:34] emmawedekind commented on #212
The other version of the buttons didn't highlight the entire button on hover/focus (didn't use bg-color). It just added a bottom border (inset) of sorts and it looked off so I changed it to be the entire bg-color change.

[2018-11-07 11:41] splinterific commented on #212
there's already a `.pill` class that looks after the rounded variant so i've just added it to the scss config at `$border-radius-pill` and updated `button.scss`. PR on the way

[2018-11-08 08:11] emmawedekind commented on #212
Wonderful you rock, thanks!

[2018-11-08 12:16] #212 closed

[2018-11-08 16:32] #216 closed

[2018-11-10 19:11] emmawedekind commented on #52
Sign Up is now finalized in terms of design. This issue only covers the email portion of the sign up.

[2018-11-10 19:12] emmawedekind commented on #52
This issue is now ready for development. Note: This is only the mobile design; the desktop version will have different styling.  Additionally, this story only covers the email sign up.

[2018-11-10 19:13] emmawedekind commented on #33
Unfortunately @pandaa880 this is an Epic and cannot be assigned. If you'd like a specific task, please see the issues listed underneath this :)

[2018-11-10 19:16] emmawedekind opened #222 "Sign Up With Social Media (O-Auth) - Mobile"
![image](https://user-images.githubusercontent.com/7671983/48345268-e149b180-e677-11e8-8ead-84a1dfa24a7d.png)

[2018-11-10 19:16] emmawedekind opened #223 "Sign In"
- [ ]  A user can sign in to Coding Coach with their email address or social media accounts.
- [ ] A user can click the Forget Password Link to reset their password.

![image](https://user-images.githubusercontent.com/7671983/48345454-5ddc9000-e678-11e8-8480-cad279e941ef.png)

[2018-11-10 19:18] emmawedekind opened #224 "Sign In With Email Address - Mobile"
- [ ] A user can sign in with their email address and password.

![image](https://user-images.githubusercontent.com/7671983/48345435-51f0ce00-e678-11e8-8ff4-62044d220e78.png)

[2018-11-10 19:19] emmawedekind opened #225 "Sign In With Social Media"
- [ ] A user can sign in with social media accounts.

![image](https://user-images.githubusercontent.com/7671983/48345285-f1fa2780-e677-11e8-9f49-d56a4ddc6d28.png)

Sketch file: https://sketch.cloud/s/xVR5A

[2018-11-10 19:20] emmawedekind opened #226 "Sign In & Sign Up Form Submission Loading Indicator"
A loading indicator should be shown on form submission.

Example behavior: https://codepen.io/mrrocks/pen/EiplA
(No changing gradient is necessary, just similar spinning style).

![image](https://user-images.githubusercontent.com/7671983/48345409-430a1b80-e678-11e8-8e67-d35b424fb8aa.png)

[2018-11-10 19:21] emmawedekind opened #227 "Forgot Password"
- [ ] A user can click the Forgot Password link to reset their password.

![image](https://user-images.githubusercontent.com/7671983/48345501-7c428b80-e678-11e8-97ac-dacf30dcb23e.png)

[2018-11-10 19:22] emmawedekind opened #228 "Forgot Email - Send Reset Link To Email Address"
Once the Forgot Password form has been submitted, an email is sent to the user's email address with a reset link.

Email Text: "Uh oh, looks like you forgot your password! Click the link below to reset it and get back to Coding Coach!"

[2018-11-10 19:24] emmabostian opened #229 "Account Confirmation Email On Sign Up"
A user will receive an email upon signing up for Coding Coach. They must validate their account.

Text: "Welcome to Coding Coach! Click the link below to verify your account and get started!"

[2018-11-10 19:25] emmawedekind opened #230 "Update Input Style"
![image](https://user-images.githubusercontent.com/7671983/48305204-c6b3f300-e526-11e8-9ba5-d90ff52f7f34.png)

[2018-11-10 23:15] feysalikbal commented on #230
I would like to work on it.

[2018-11-11 13:50] frederickalcantara commented on #225
I would like to take in this task.

[2018-11-12 11:36] emmawedekind commented on #222
Assigned!

[2018-11-12 11:39] emmawedekind commented on #230
Added!

[2018-11-12 13:55] crysfel commented on #225
@frederickalcantara all yours! Please remember to use tailwind for the styling ;)

[2018-11-12 14:01] crysfel commented on #230
@feysalikbal we don't have a `TextField` component yet, you should work on https://github.com/Coding-Coach/coding-coach/issues/125 first, I'm going to assign it to you ;)

[2018-11-12 14:27] crysfel opened #232 "Migrate the Button component to tailwind"
# Issue

## Description

The current `Button` component is using sass for the styles, we are now migrating to tailwind. We need to remove all the sass styles for the button and use tailwind instead.

Here are all the buttons we need to support: https://sketch.cloud/s/xVR5A/7yyVk08

[2018-11-12 14:32] crysfel opened #233 "Migrate the HomeSection component to tailwind"
# Issue

## ZenHub Issue

We are now using tailwind for styling, please remove all sass code and update the component to use tailwind.

https://github.com/Coding-Coach/coding-coach/blob/develop/src/pages/home/components/HomeSection.js

Sketch file for reference: https://sketch.cloud/s/xVR5A/eKKkLEP

For now just set the background color as usual, there's another task to write a tailwind plugin to

[2018-11-12 14:33] crysfel opened #234 "Migrate the SocialMedia component to tailwind"
# Issue

## ZenHub Issue

The social media component is the one with the social icons in the contact section. We need to remove all sass code and use tailwind instead.

[2018-11-12 14:34] frederickalcantara commented on #225
I'm just curious, what do you think of using next js for the app? I think it would be great for SSR. If theres more pages it would be better for SEO purposes.

[2018-11-12 16:11] crysfel commented on #225
We are using `react-snap` for SEO purposes, this will only apply for public pages such as the landing page.

[2018-11-12 20:06] feysalikbal commented on #230
Thanks. I'm on it.

[2018-11-13 07:52] DanielRuf commented on #225
I miss GitHub as login option. ;-)

[2018-11-13 11:05] splinterific commented on #233
I'll grab this one if thats cool!

[2018-11-13 13:05] crysfel commented on #232
@emmawedekind can we add @msweeneydev to the organization to assign him this issue?

[2018-11-13 13:06] crysfel commented on #233
All yours!

[2018-11-13 13:09] crysfel opened #235 "Migrate the Footer component to tailwind"
# Issue

## ZenHub Issue

We need to remove all sass code for the Footer component and migrate it to tailwind.

Footer component:
https://github.com/Coding-Coach/coding-coach/blob/develop/src/components/footer/Footer.js

Design:
https://sketch.cloud/s/xVR5A

[2018-11-13 13:10] crysfel opened #236 "Migrate Modal component to tailwind"
# Issue

## ZenHub Issue
The current Modal component is using SASS for styling, we need to remove all that code and use tailwind instead

[2018-11-13 13:11] crysfel opened #237 "Migrate OverlayCookie component to tailwind"
# Issue

Migrate the OverlayCookie component to tailwind, don't forget to remove all SASS code

[2018-11-13 13:12] crysfel opened #238 "Migrate Panel component to tailwind"
# Issue

The Panel component is using SASS for styling, we need to remove all that code and migrate it to tailwind.

[2018-11-13 19:41] crysfel commented on #236
All yours!

[2018-11-14 06:32] tureey commented on #225
+1 :D Actually since we are developers.. I don't think anyone will log in with IG

[2018-11-14 06:33] tureey commented on #232
Good point @msweeneydev

[2018-11-14 07:36] nero2009 commented on #234
Can I take this?

[2018-11-14 15:31] nero2009 commented on #234
@crysfel  In a situation where we have styles that are used more than once what should we do, I know we can use `@apply` to create a component class but where should we keep the component class?

[2018-11-16 01:37] crysfel commented on #222
@linux-nerd yeah, that sound good!

[2018-11-20 22:38] crysfel commented on #125
I'm taking this, we need this component in order to work on the auth forms

[2018-11-21 07:00] sojelee commented on #125
Thanks @crysfel go ahead

[2018-11-26 11:13] splinterific commented on #233
Just holding based on the convo at https://coding-coach.slack.com/archives/CCQDTKZC2/p1542915920201100

[2018-11-27 16:51] crysfel commented on #233
@splinterific just fixed the issue, please pull and try again

[2018-11-28 03:20] crysfel commented on #97
PR has being merged, we are not using Lingui as our i18n library

[2018-11-28 03:20] #97 closed

[2018-11-28 04:18] crysfel commented on #169
I'm taking this!

[2018-11-28 07:46] tricoder42 commented on #97
Just curious: are you or aren't you? :) It seems you **are** using Lingui in master, but if decided not to, may I ask what problem did you encounter?

Cheers

[2018-11-28 13:46] crysfel commented on #97
@tricoder42 that was a typo that completely changed the meaning of my message 😅

*We are **now** using Lingui*

I think Lingui is awesome!

[2018-11-28 15:05] tricoder42 commented on #97
Thank you, I'm glad you like it 👍

[2018-11-28 18:34] #125 closed

[2018-11-28 18:34] #224 closed

[2018-11-29 04:11] dlofran2 commented on #238
Hi @crysfel, mind if I take this issue?

[2018-11-29 05:56] bhupendra-nitt commented on #226
Can someone assign it to me?

[2018-11-29 12:39] crysfel commented on #238
All yours! Please join [our slack](https://coding-coach.slack.com/) and ask @emmawedekind to add you to the organization, that way I can assign it to you.

But you can start working on this. Looking forward to see your work!

[2018-11-30 08:52] splinterific commented on #233
I've removed myself from this for now. Life is ramping up so best to just release it back and let someone else dig in! Sorry for the delay!

[2018-11-30 12:17] ajrussellaudio commented on #174
I'd like to take this on, using [remark](https://github.com/remarkjs/remark) and [remark-react](https://github.com/mapbox/remark-react) to solve the problem. It would be a learning exercise for me, as I don't know these libraries well, but they're used by Next.js and Gatsby, and I'd like to dig into them.

[2018-11-30 17:11] crysfel commented on #174
That was quick! Thanks for contributing! Please join our [slack dev channel](https://join.slack.com/t/coding-coach/shared_invite/enQtNDY3NjI0NzYwNTEyLTA1OTNhZmI0MWNjZTdhMTdiNDc0YjZjYTg3NWU5YmU2MjVjMWUwMWQ3ZWU2Y2I5YjM1YjAyZTkzNWU3YjczOTQ) and ask @emmawedekind to add you to the github organization.

[2018-12-01 11:43] tureey commented on #233
I'll get this

[2018-12-02 15:35] dlofran2 commented on #237
I'll go ahead and take this issue.

[2018-12-03 22:04] #174 closed

[2018-12-03 22:31] crysfel commented on #237
All yours!

*please ask @emmawedekind to add you to the github organization in order for me to assign the issue to you.*

[2018-12-03 22:32] crysfel commented on #233
I'm taking this

[2018-12-04 06:44] sup-rith commented on #235
I would like to take this!

[2018-12-04 11:21] linux-nerd commented on #222
@crysfel What is the difference between sign in with social media and signup with social media?

[2018-12-04 16:56] crysfel commented on #222
It looks the same to me xD

Not sure if @frederickalcantara already started. If not, you should take it and close one to avoid working on the same thing.

[2018-12-04 16:58] crysfel commented on #235
All yours! Please ask @emmawedekind in slack to add you to the github organization in order for me to assign this issue to you.

You can start working on this now, once added to the org, I will just update the issue.

Thanks!

[2018-12-06 21:41] tureey commented on #237
ping @dlofran2

[2018-12-06 21:44] tureey commented on #222
Well.. there is a lot of people that says that if you sign in with social media and you are not registered.. it created you an account....

I would say that the login/signup concept with social media has been merged. The only case it's different is when you want to do it manually.

[2018-12-06 21:44] tureey commented on #235
ping @sup-rith

[2018-12-06 22:33] frederickalcantara commented on #222
I haven't gotten around it. You can take it.

[2018-12-07 02:59] linux-nerd commented on #222
@crysfel Do we have a flow/documentation for this? How do we tend to authenticate?

[2018-12-07 13:42] dlofran2 commented on #237
Hi @tureey, if you want to take this instead thats fine.  Been having to work a lot of overtime this week so I haven't had much free time to contribute.

[2018-12-07 16:47] crysfel opened #251 "Move custom tailwind plugins out of tailwind.js file"
# Issue

## Description

We have several custom plugins inside `tailwind.js` file, let's move them out from there to `src/theme/plugins`.

Once they are in different files we should import them and add it to `tailwind.js` like this:

[code]

[2018-12-07 16:47] #238 closed

[2018-12-07 16:52] crysfel commented on #222
Jagadish K (Not sure what's his github user) is working on the backend to implement login/sigup with passport.

For the client side all we have to do is just redirect to the selected platform, receive the token and give it to the backend, if success redirect to dashboard, else show errors.

[2018-12-08 10:18] tureey commented on #237
I'll get it then 👍

[2018-12-09 08:22] emmabostian opened #254 "dashb"

[2018-12-09 08:22] #254 closed, assigned to nobody

[2018-12-09 08:30] emmawedekind opened #255 "Dashboard - Header"
![image](https://user-images.githubusercontent.com/7671983/49695002-5f747780-fb94-11e8-88d0-45b46fede2f4.png)

![image](https://user-images.githubusercontent.com/7671983/49695110-fbeb4980-fb95-11e8-96e6-b82a2b584c06.png)

- [ ] Gradient background
- [ ] Coding coach logo in top right corner
- [ ] "Modal" type layover for new messages
- [ ] "Open" button which leads to the messages panel
- [ ] "Let

[2018-12-09 08:36] emmawedekind opened #256 "Dashboard - Notifications"
![image](https://user-images.githubusercontent.com/7671983/49695085-aa42bf00-fb95-11e8-848d-6cec64c308ca.png)
![image](https://user-images.githubusercontent.com/7671983/49695088-b9c20800-fb95-11e8-8ab2-ed160454d073.png)

- [ ] Notifications appear in a list (if there are any)
- [ ] If no notifications are present, add the text for no notifications (below).

## Text

**Text for account with no noti

[2018-12-09 08:38] emmawedekind opened #257 "Components - Navigation"
![image](https://user-images.githubusercontent.com/7671983/49815509-360e4400-fd6c-11e8-98ed-54dce6b81282.png)

![image](https://user-images.githubusercontent.com/7671983/49815429-0c551d00-fd6c-11e8-8782-72bd9181be22.png)

- [ ] Bottom navigation for mobile devices

- [ ] Side navigation for tablets & desktop

- [ ] Active page icon is in full color

- [ ] Inactive page icons are grayed out

- [ ]

[2018-12-09 08:40] emmawedekind opened #258 "Components - Notifications"
![image](https://user-images.githubusercontent.com/7671983/49695125-51bff180-fb96-11e8-9fa9-4648fc25d0b0.png)

- [ ] Mentorship notifications have blue edge

- [ ] Account notifications have green edge

- [ ] Error and issue notifications have red edge

- [ ] Selected notification has clear button appear in top right corner and a box shadow effect

# Assets
All icons & color codes can be found on

[2018-12-09 08:40] emmawedekind opened #259 "Components - Icons"
![image](https://user-images.githubusercontent.com/7671983/49695137-83d15380-fb96-11e8-8adb-2957a5145851.png)

# Assets
All icons & color codes can be found on the Sketch cloud: https://sketch.cloud/s/xVR5A/paKjK7A

# Details
Given that we are going to use our own custom svg icons, we need to remove `@fortawesome` from our dependencies: https://github.com/Coding-Coach/coding-coach/blob/develop/pac

[2018-12-09 08:48] nitish24p commented on #257
👋 can i?

[2018-12-09 08:51] emmawedekind commented on #257
Sure thing! Assigned, thanks!

[2018-12-09 09:07] tureey commented on #255
I love the design!! 😍

[2018-12-09 09:07] tureey commented on #255
May I have this one?

[2018-12-09 09:33] moyamanuel commented on #256
May I take this issue?

[2018-12-09 12:10] linux-nerd commented on #222
I have started working on FB oAuth. @frederickalcantara, if you want to work on other oAuth, you can proceed.

[2018-12-09 15:20] emmawedekind commented on #258
Sure, I'll assign you! Looks like you weren't added to the organization, so I went ahead and added you. I'll assign you to the issue once your addition has been registered. Thanks so much!

[2018-12-09 22:09] alexluong commented on #258
@emmawedekind Thanks for the invitation. I joined the organization.

[2018-12-10 04:54] crysfel commented on #258
@alexluong all yours! You should use storybook for this, as we don't have the dashboard ready.

[2018-12-10 05:08] alexluong commented on #258
@crysfel Thanks for the tips. I've been using storybook for it. Can you check out my ongoing PR #261? I got a few questions over there!

[2018-12-10 05:41] crysfel commented on #257
This issue depends on #259 ;)

[2018-12-10 06:07] nitish24p commented on #257
@crysfel can we have a quick discussion on the implementation.. whether to use a config object or compound components for this

[2018-12-10 16:07] steoneill commented on #259
I can take this if that’s ok? :)

[2018-12-10 16:13] steoneill commented on #229
I can also take this :)

[2018-12-10 18:21] crysfel commented on #257
That's a good question, what about something like this:

[code]

Internally the `Option` component will render the link, icon and label.

[2018-12-10 18:25] crysfel commented on #230
We do have a [Textfield component](https://github.com/Coding-Coach/coding-coach/blob/develop/src/components/textfield/TextField.js), but is missing the styles defined in this task.

@feysalikbal let us know if you need any assistance with this.

[2018-12-10 18:30] crysfel commented on #228
@emmawedekind this issue should be transfer to the backend repo.

[2018-12-10 18:32] crysfel commented on #32
I'm closing this issue, we already have the design and separate issues to implement the signup/login

[2018-12-10 18:32] #32 closed

[2018-12-10 20:01] nitish24p commented on #257
Cool.. i had also thought of something like this
[code]

[code]

But i guess your method is declarative and easier to understand.

[2018-12-10 21:31] steoneill commented on #259
@emmawedekind could you add me to the organisation please? :)

[2018-12-11 07:52] emmawedekind commented on #228
Sure thing

[2018-12-11 07:52] #228 closed

[2018-12-11 16:43] emmawedekind commented on #257
Please note updated designs with labels for menu items!

[2018-12-12 16:40] alexluong commented on #258
Let's close this issue. I'd love to help out more if there's any other tasks!

[2018-12-12 21:57] crysfel commented on #258
@alexluong thanks for contributing!

[2018-12-12 21:57] #258 closed

[2018-12-13 13:30] klazbaba commented on #251
May I have this one?

[2018-12-15 21:40] kakaly commented on #232
@crysfel - Please assign this to me

[2018-12-16 01:32] kakaly commented on #232
I am considering, extracting custom components using @apply for each button type inside tailwind.css
and use them directly inside Button.js

@crysfel - Let me know if this design is okay.

[2018-12-18 04:32] kakaly commented on #232
Submitted a PR: https://github.com/Coding-Coach/coding-coach/pull/265

[2018-12-18 08:07] vittorioe commented on #59
Is still in dev? Would make it now.

[2018-12-18 18:32] crysfel commented on #54
This is done!

[2018-12-18 18:32] #54 closed

[2018-12-18 18:32] crysfel commented on #59
All task in this epic are completed! I will go ahead and close it!

[2018-12-18 18:32] #59 closed

[2018-12-18 21:18] crysfel commented on #232
Thanks for contributing, I've left a few comments in your PR.

[2018-12-20 14:31] kakaly commented on #227
@emmawedekind @crysfel - Can I take this one?

[2018-12-21 07:56] emmawedekind commented on #227
@kakaly You have already received an invitation to join the organization. You have to accept it.

[2018-12-21 10:18] steoneill commented on #259
@crysfel  i believe i've been added now :)

[2018-12-21 14:23] kakaly commented on #227
@emmawedekind - Thanks! Got it. Sorry about that. I missed the email somehow.

[2018-12-22 02:49] praveen-me commented on #223
@emmawedekind I want to work on this. Is this issue available.

[2018-12-22 16:55] darrenvong commented on #187
@emmawedekind Does this still need fixing? If so, maybe I can give this a go? Or are you still in the process of designing the hover/focused state for the button?

[2018-12-23 17:09] emmawedekind commented on #187
You're welcome to fix it! @darrenvong. Maybe since it's "floating" we can increase the height of the box-shadow to make it look like it's coming more off the page? :)

[2018-12-23 17:10] emmawedekind commented on #187
I just realized I never provided a design.. sorry about that! Try my approach in the previous comment and let me know what you think :D

[2018-12-23 17:11] emmawedekind commented on #225
Yes feel free to add GH! These are just mock-ups :) Improvements are always welcome!

[2018-12-23 17:12] emmawedekind commented on #223
So I believe this issue is actually the "epic" for the other issues beneath it.
https://github.com/Coding-Coach/coding-coach/issues/225
https://github.com/Coding-Coach/coding-coach/issues/222
https://github.com/Coding-Coach/coding-coach/issues/52

[2018-12-23 17:12] emmawedekind commented on #223
Therefore, we don't need to complete this issue, thanks though! Feel free to comment on the other issues and see if people need help.

[2018-12-23 17:14] emmawedekind commented on #227
Wonderful! Assigned :)

[2018-12-23 17:35] darrenvong commented on #187
Just to clarify 😅 Do you mean as the user hover over the button, the height of the background box-shadow should just grow?

[2018-12-23 19:46] darrenvong commented on #187
In fact, since the button uses the Button component and I see that we're in the process of migrating to Tailwind (as per issue #232), does that mean this is kinda being blocked by that right now?

[2018-12-24 09:48] tureey commented on #187
@darrenvong I'll be pleasured to help you out. I don't have a lot of experience but maybe being together it's easier :+1:

[2018-12-25 04:36] klazbaba commented on #251
@crysfel, please how do I test this to know if what I have done works? I would love to test before making a PR.

[2018-12-25 19:59] darrenvong commented on #187
Sounds good @tureey! I think I'll wait until I know what's going on with the Button component first before trying to work on it.

[2018-12-26 22:47] klazbaba commented on #251
Not programming test. I just want to see it run before making my PR. Thanks very much @tureey

[2018-12-30 17:20] emmawedekind opened #269 "Add mailing list modal to landing page"
We need a way to capture user's emails. Please embed this modal from Mail Chimp!

`<script type="text/javascript" src="//downloads.mailchimp.com/js/signup-forms/popup/unique-methods/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script><script type="text/javascript">window.dojoRequire(["mojo/signup-forms/Loader"], function(L) { L.start({"baseUrl":"mc.us19.list-manage.com","uuid"

[2018-12-30 19:50] alizand1992 commented on #269
@emmawedekind I'd like to try this.

[2018-12-31 08:18] emmawedekind commented on #269
Great! Not sure if you're in the org... I can add you.

[2018-12-31 08:53] alizand1992 commented on #269
Got the invite, and accepted. Thank you

[2019-01-01 18:20] #189 closed

[2019-01-01 18:25] #229 closed, assigned to nobody

[2019-01-01 18:32] emmawedekind commented on #227
Hi, what's the status?

[2019-01-01 18:33] emmawedekind commented on #225
Hi, what's the status?

[2019-01-01 18:33] emmawedekind commented on #226
Hi, what's the status?

[2019-01-01 18:33] emmawedekind commented on #52
Hi, what's the status?

[2019-01-01 18:37] emmawedekind commented on #169
I believe we're replacing this with the pop-up Mail Chimp modal! #269

[2019-01-01 18:37] #169 closed

[2019-01-01 18:51] DanielRuf commented on #225
@emmawedekind who do you mean?

[2019-01-01 20:05] tureey commented on #187
Yes, @darrenvong , He is who is leading all the Frontend development.

[2019-01-01 20:08] tureey commented on #255
I commented in my PR https://github.com/Coding-Coach/coding-coach/pull/267: **I am working on it.**

Things left:
* Wait for the components PR #259 to be merged so I can use the media included in
* Generate the translation for `Dashboard` (I executed compile and extract and still not working) @crysfel  Any idea?
* Use the same `spacing size` for the padding of the Header and the `width` not used b

[2019-01-02 01:38] kakaly commented on #227
@emmawedekind - PR is out. I will address the review comments by Friday.

https://github.com/Coding-Coach/coding-coach/pull/266

[2019-01-02 04:42] klazbaba commented on #251
I keep running into the error 'require(...) is not a function.'

[2019-01-02 05:35] bhupendra-nitt commented on #226
Hey, I somehow missed notification for this. Will pick it up now. Apologies for the delay.

[2019-01-02 06:34] saravanaselvan commented on #235
@crysfel @tureey if this issue still not assigned, I would like to try it.

[2019-01-02 14:16] alexluong commented on #256
I'd be happy to take this up if you're still enjoying your holiday, @moyamanuel.

[2019-01-02 14:54] tureey commented on #235
Hey @saravanaselvan, even though the task is not assigned here in Github _(I know we should have done it, sorry for not doing it yet and creating confusion)_ @sup-rith is working on it.

I did not know @emmawedekind already added him on the Github Group

[2019-01-02 14:56] tureey commented on #251
Can you provide please pictures of the error in the console? @klazbaba
Try deleting the `node_modules` folder and installing again.

[2019-01-02 14:57] tureey commented on #227
I left some comments on the PR @kakaly tell me your thoughts! :smiley:

[2019-01-02 16:05] kakaly commented on #227
@tureey - Yup! I ll share my thoughts on your comments. Sorry, I just got back from a vacation. :) Thanks for looking at it though.

[2019-01-02 16:38] tureey commented on #227
It's okay! I hope you enjoyed the vacation :nerd_face:

[2019-01-02 22:53] trent-boyd commented on #230
I've got some time this week to contribute. I'd be happy to take this on @emmawedekind. :)

[2019-01-03 07:58] saravanaselvan commented on #235
Hey @tureey No problem. Thanks for letting me know. I will look for any other unassigned issues.

[2019-01-03 12:44] emmawedekind commented on #259
Hi, what's the status @steoneill

[2019-01-03 12:49] linux-nerd commented on #222
Will resume the work from tomorrow.

[2019-01-03 16:04] klazbaba commented on #251
![require error](https://user-images.githubusercontent.com/34392299/50647701-8e0a2600-0f79-11e9-904d-9f9e697a3307.PNG)
![error source](https://user-images.githubusercontent.com/34392299/50647715-95313400-0f79-11e9-81ec-f7279e58b999.PNG)

[2019-01-03 16:05] klazbaba commented on #251
@tureey, that is the error and its source.

[2019-01-03 23:59] moyamanuel commented on #256
Hey @emmawedekind -- I just saw the 'Blocked' was removed from this task. I'll get working on this ASAP!

[2019-01-04 07:32] emmawedekind opened #272 "Remove PayPal button from code"
We will be using Patreon (which Emma will provide a design/UX & Issue for) so we must remove the PayPal  donation button from the code.

[2019-01-04 07:37] haroonKhan-10p commented on #272
I will take this up on the weekend.

[2019-01-04 07:37] mazma1 commented on #272
I'll like to work on this

[2019-01-04 07:43] emmawedekind opened #273 "Horizontal scroll on landing page"
I'm getting a horizontal scroll on the landing page. This should be removed.

<img width="1130" alt="image" src="https://user-images.githubusercontent.com/7671983/50677952-c9016d80-0ffc-11e9-8946-a6461de8abd9.png">

[2019-01-04 07:44] emmawedekind opened #274 "Remove Instagram from landing page"
It doesn't make sense to keep up with an IG account for CC. I'd like to remove it.

<img width="681" alt="image" src="https://user-images.githubusercontent.com/7671983/50677981-e6363c00-0ffc-11e9-9c90-10b9bbfa678c.png">

[2019-01-04 07:45] emmawedekind opened #275 "Remove Slack organization link from landing page"
The Slack organization link is reset each time you share it, so we must remove it from our page.

<img width="593" alt="image" src="https://user-images.githubusercontent.com/7671983/50677995-ff3eed00-0ffc-11e9-89e2-28ed2c7e6150.png">

[2019-01-04 07:46] emmawedekind opened #276 "When modal is open, user can still scroll the background"
If a modal is open, a user should not be able to scroll behind it.

<img width="1158" alt="image" src="https://user-images.githubusercontent.com/7671983/50678038-24336000-0ffd-11e9-8f43-6a03ac04541c.png">

[2019-01-04 07:46] emmawedekind opened #277 "Privacy Policy modal is too large"
The Privacy Policy modal should fit the content height.

<img width="677" alt="image" src="https://user-images.githubusercontent.com/7671983/50678066-3f05d480-0ffd-11e9-95fe-a2d2fbe6ec24.png">

[2019-01-04 07:53] emmawedekind opened #278 "Remove .env file from .gitignore to ease installation & setup"
Currently after cloning, users have to remove the `.example` extension from the `.env` file. This is annoying. Let's just remove `.env` from the `.gitignore`.

[2019-01-04 07:57] jagzviruz commented on #278
It wouldn't be advisable to allow committing .env files all the time.
We can do a one time force commit for the file.

[2019-01-04 08:07] emmawedekind commented on #277
Duplicate of #186

[2019-01-04 08:07] #277 closed

[2019-01-04 08:10] emmawedekind commented on #272
Perfect I'll assign!

[2019-01-04 08:12] emmawedekind commented on #256
Thanks!

[2019-01-04 08:14] emmawedekind commented on #251
I've added you to the org - will assign once it registers

[2019-01-04 08:15] emmawedekind commented on #237
What's the status here? I think the PR needs a review right?

[2019-01-04 08:15] emmawedekind commented on #237
Closes #253

[2019-01-04 08:15] emmawedekind commented on #236
What's the status

[2019-01-04 08:16] emmawedekind commented on #226
No worries thx

[2019-01-04 08:17] emmawedekind commented on #225
Is there status on the development :)

[2019-01-04 08:19] emmawedekind commented on #214
Any update to this issue?

[2019-01-04 08:20] emmawedekind commented on #186
Any update on this? @crysfel are we good to merge?

[2019-01-04 08:21] linux-nerd commented on #214
@emmawedekind Not able to proceed due to lack of documentation. #215

[2019-01-04 08:50] klazbaba commented on #251
Alright @emmawedekind, thanks.

[2019-01-04 09:18] msweeneydev commented on #274
I'll take this one please :+1:

[2019-01-04 10:42] flagoon commented on #276
I would like to take this on :)

[2019-01-04 12:14] nero2009 commented on #275
I'd take this,
what should I replace it with? or should I just yank off the "feel free to join our slack organization"

[2019-01-04 16:40] trent-boyd commented on #272
@haroonKhan-10p: Make sure to remove the `REACT_APP_PAYPAL_DONATE_BUTTON_ID` env var from `.env.example` when you commit, since we be using that anymore.

[2019-01-04 17:00] msweeneydev commented on #274
Just to clarify, would you like to remove the IG account from just this section or remove all reference of it from the code?

[2019-01-04 19:45] trent-boyd commented on #273
I got this.

[2019-01-04 23:40] trent-boyd commented on #278
I'd like to take this!

I kind of agree with @jagzviruz. `.env` files are usually for things that might change on a per-environment basis, but we're kind of using them as a dictionary. I don't think our social links need to be there, so could we just keep them defined in `constants.js`?

[code]

For the remaining variable (`NODE_PATH`), we could leave it defined there or prefix all our our scripts

[2019-01-04 23:54] trent-boyd commented on #275
@emmawedekind: Tangentially related to this ticket, but maybe it's an option to consider. [Slackin](https://github.com/rauchg/slackin) is something we could run on a subdomain to have a more open Slack invite initiative. It would end up looking like [this invite page at Open Austin](https://slack.open-austin.org/). Maybe worth investigating.

[2019-01-05 22:46] tureey commented on #274
I would say to remove it completely. But wait her answer.

Anyway, we have it on `git` so................... haha

[2019-01-05 22:50] tureey commented on #276
@emmawedekind Could we add @flagoon to the organization please? Thank you! <3

[2019-01-05 22:53] tureey commented on #251
@klazbaba Sometimes I have this error and I just remove the `node_modules` folder like I said and reinstall everything. Have you tried?

Have you compilated the translations? I had problems making it worked and I had to compile them as well.

If not, I have no idea

[2019-01-05 22:55] tureey commented on #236
Finished pending feedback from @crysfel https://github.com/Coding-Coach/coding-coach/pull/249

[2019-01-05 22:55] flagoon commented on #276
Ah sorry, I didn't know I had to be in the organization. I just thought it's open for anyone who wants to contribute to open source (I'm trying to get into it).

[2019-01-05 22:59] tureey commented on #237
Yes, thank you for tagging the issue so it will be closed automatically @emmawedekind

[2019-01-05 23:02] tureey commented on #259
@steoneill
![image](https://user-images.githubusercontent.com/16169890/50730152-60bea300-1146-11e9-9401-acee41b5f4ce.png)

[2019-01-05 23:04] steoneill commented on #259
Hi guys!

Sorry for the delay, had a very sick 6 month old so haven't progressed as quick as I thought!

Will get this pushed ASAP!

(Feel free to move it to someone else, i'd 10000% understand)

[2019-01-05 23:18] tureey commented on #276
It is, but since we want to track and organize the tasks and try to distribute work, we thought that having an organization could help us to be organized

[2019-01-06 00:35] ArtOfCode- opened #286 "Privacy policy needs fleshing out"
The current privacy policy is just a skeleton:

This needs fleshing out to be an actual privacy policy. If we're trying to be GDPR compliant, that needs to cover:

 - Who is collecting the data?
 - What data is being collected?
 - What is the legal basis for processing the data?
 - Will the data be shared with any third parties?
 - How will the information be used?
 - How long will the data be sto

[2019-01-06 10:55] msweeneydev commented on #274
Agreed @tureey, I can't see why you'd leave any behind but you never know! Let us know your thoughts @emmawedekind

[2019-01-06 17:11] flagoon commented on #276
I had some time this weekend, but I can't promise I will have time this week. Please, don't consider me for this task anymore ;) Maybe later I will read how to join the organization and that way contribute :).

[2019-01-06 20:59] tureey commented on #276
@flagoon OK!

** This task is not assigned to anyone yet so**

[2019-01-07 05:56] klazbaba commented on #251
Yes, I had removed and reinstalled the node modules. As for compiling the
translations, how do I achieve that please?

On Sat, Jan 5, 2019, 23:53 Victor Ribero <notifications@github.com wrote:

[2019-01-07 16:27] erolaliyev opened #287 "Link to join Slack at ReadMe file should open join page"
# Issue

## ReadMe Issue

[ReadMe](https://github.com/Coding-Coach/coding-coach/blob/develop/README.md)

## Description

Link to join Slack workspace in ReadMe file is a link to sign in page of the workspace. I think it will be less confusing if it is replaced by link for sign up page which is this [one](https://coding-coach.slack.com/join/shared_invite/enQtNDYxNTcwMjk4MDcwLThiZjY1MTM2YTU1YzM2MGI1

[2019-01-07 18:44] #272 closed

[2019-01-07 20:04] tureey commented on #251
As you can see @klazbaba  in the picture there are some scripts that do this. You can:
`yarn i18n-compile` to compile the translations
`yarn start` will *extract* and *compile* the translations and *build* the `css` and the `bundle`.

*I hope this is the solution. If not, wait for @crysfel because in matter of errors I'm pretty bad sorry.*

![1](https://user-images.githubusercontent.com/16169890/5

[2019-01-07 20:43] pitakill commented on #276
I want to take this task. :-)

[2019-01-07 21:14] #274 closed

[2019-01-07 21:55] crysfel commented on #278
@emmawedekind I wouldn't recommend that, is only a one time thing and is well documented in the readme.

Later one we are going to have the facebook app id and other values to support oauth, those values will depend on the instance the app is running, staging, production, local.

@trent-boyd yes, we only have a couple things that are unlikely to change and probably we can just define them right in

[2019-01-07 21:58] crysfel commented on #276
@pitakill all yours! You can start working on this now and as soon as @emmawedekind adds you to the org I can officially assign it to you.

Also, go to slack and ask @emmawedekind to add you to the organization.

[2019-01-07 22:09] crysfel commented on #275
@nero-adaware all yours, it'd be nice if you can implement something like @trent-boyd said. Can you take a look into that?

[2019-01-07 22:44] trent-boyd commented on #275
@crysfel: I think Slackin would require some backend work as well. Looks like it works with Express, so it might be its own separate app that runs on Heroku. It's a good deal of work to implement.

[2019-01-08 00:03] trent-boyd commented on #287
According to @emmawedekind, those links are single-use only (or something like that). We should probably remove them along with the work in #275.

[2019-01-08 00:50] trent-boyd commented on #259
@emmawedekind I don't mind taking this over so @steoneill can focus on taking care of his stick kiddo. 👶 😷

I think though, that I might need the actual SVG assets exported from Sketch. I don't see a way to access them on the link you posted. Or maybe I need to sign up for Sketch cloud?

@crysfel, do you think we could use [this cool new feature](https://facebook.github.io/create-react-app/docs/ad

[2019-01-08 01:30] trent-boyd commented on #276
So is this just adding `overflow-hidden` to the body class list, or should we consider a more complex situation to handle the edge cases like older iOS versions?

[2019-01-08 07:30] nero2009 commented on #275
Ok

[2019-01-08 16:16] #273 closed

[2019-01-08 17:09] nitish24p commented on #257
Should be done by the weekend.. this one depends on https://github.com/Coding-Coach/coding-coach/issues/259 so for the moment i've made placeholder icon components

[2019-01-08 17:47] #236 closed

[2019-01-08 17:54] tureey commented on #276
I was thinking about adding `overflow-hidden`. Right now is the most pragmatic thing to solve this IMHO

[2019-01-08 17:56] tureey commented on #259
ow... I did not know about its existence! It's cool

[2019-01-08 18:20] crysfel commented on #259
We are using it in some parts of our application, however... for the icons we do have react components for that where we just define the vectors in a variable or if there are several elements we can define as many nodes as needed.

https://github.com/Coding-Coach/coding-coach/blob/develop/src/components/icon/Twitter.js

[2019-01-08 18:30] crysfel commented on #269
Merged and deployed!

[2019-01-08 18:30] #269 closed

[2019-01-08 19:10] trent-boyd commented on #259
@crysfel: I saw that, but I don't think the approach in `Icon.js` will work for multicolored icons, which will have more multiple paths than won't fit into the `vectors` prop.

I don't have any of these SVG assets yet, but [here's an example](https://gist.githubusercontent.com/trent-boyd/8928bb50e50c31dda546aaae63221a63/raw/2b61e03d8e906e05fdd7b85e415ca858fb455e1f/lightbulb.svg) from an old projec

[2019-01-08 19:12] trent-boyd commented on #278
You and me both, bud. Lots of people hate it, but I kinda like it. :)

[2019-01-08 22:35] tureey opened #288 "Modals is shown under the Cookies Banner"
## Steps to Reproduce
1- Remove cache
2- Low resolutions
3- Open the cookies policy

## Screenshot
![1](https://user-images.githubusercontent.com/16169890/50863162-19caea80-139e-11e9-9b58-7c2710666974.png)

[2019-01-08 23:09] trent-boyd commented on #288
I thought this was by design. 🤷‍♂️

[2019-01-08 23:14] tureey commented on #288
There is no way to accept though @trent-boyd hahaha my bad I should have seen it before!

[2019-01-09 06:55] nero2009 commented on #275
@crysfel I need to be an admin user so I can generate an slack API test token. [https://github.com/rauchg/slackin#tips](url)

[2019-01-09 11:05] emmawedekind commented on #259
Can you grab the assets from Sketch Cloud? That's the easiest way @trent-boyd

[2019-01-09 11:08] emmawedekind commented on #275
I'm not comfortable handing out Admin access to Slack - is there a different way to proceed?

[2019-01-09 11:09] emmawedekind commented on #275
And can we please remove the link for now? I keep getting messages that it's broken.

[2019-01-09 11:18] nero2009 commented on #275
The only other option is to create a new user and give the user admin access.

[2019-01-09 11:19] nero2009 commented on #275
Ok I will

[2019-01-09 15:44] crysfel commented on #259
The Icon component also accepts any number of children, specifically for this scenario:

[code]

[2019-01-09 15:47] crysfel commented on #288
there's a `z-index` mapping on tailwind: https://tailwindcss.com/docs/z-index

Maybe we should consider renaming them?

[2019-01-09 18:42] #237 closed

[2019-01-09 21:44] tureey commented on #276
Since @flagoon refused... Could you add @pitakill to the organization too please @emmawedekind ?

[2019-01-09 21:46] tureey commented on #275
But wait, can't @emmawedekind generate the `api_key` and give it to you? I'm missing something

[2019-01-09 23:55] darrenvong commented on #278
Thought I'd leave a reference to facebook/create-react-app#2403 as it seems relevant to this discussion, where Dan Abramov supports committing `.env` file for convenience and the fact you can't store real secrets in the client app.

[2019-01-10 03:17] trent-boyd commented on #259
Hmm. Sketch Cloud requires me to have Sketch to get these SVGs out of the document. Hopefully I can resolve this before the demo is up. I've exported these each on an 80x80 artboard. If there's some standard for this, let me know.

![image](https://user-images.githubusercontent.com/1660908/50943912-f1052c80-1453-11e9-896e-f2cb07a00bf2.png)

[2019-01-10 03:56] trent-boyd commented on #259
@crysfel: Let me know what you think about this. It's probably easier to focus on [this commit](https://github.com/Coding-Coach/coding-coach/pull/291/commits/5029c29e554cf6671fa48300db476c50b9bf264c) since the raw SVGs make a lot of green in the diff view.

[2019-01-10 05:13] linux-nerd commented on #222
@crysfel Since oAuth with twitter needs to interact with backend API. I have started working on API to make it work.

Moreover, I feel we should move the logic to of storing the secret key/token for other auth on the API as well.

I don't see anyone working on those API on the board. So, for the time being, I am working on it.

[2019-01-10 06:45] nero2009 commented on #275
Yeah @emmawedekind  can

[2019-01-10 10:47] alivenotions opened #292 "Insufficient color contrast"
# Issue

## Description

The color contrast with the foreground color in the navigation links is not enough in comparison with the background color.

## Screenshot

![capture](https://user-images.githubusercontent.com/19860968/50963544-054c3680-14f3-11e9-84a5-ac4e4e0f728e.PNG)

Can also have a look at this [checker](https://webaim.org/resources/contrastchecker/?fcolor=009D6C&bcolor=69D5B1)

[2019-01-10 10:47] alivenotions commented on #292
Won't mind working on this, but it probably requires some UX discussions first.

[2019-01-10 10:48] emmawedekind commented on #292
I will get back to you on this.

[2019-01-10 10:50] emmawedekind commented on #276
Added

[2019-01-10 15:57] crysfel commented on #292
Assigned to @emmawedekind as she's our designer lead

[2019-01-10 16:19] #275 closed

[2019-01-10 16:31] nero2009 commented on #275
Hi @crysfel I think this issue should still be open until we create  the slack invite page.

[2019-01-10 18:19] trent-boyd commented on #275
I think the Slack invite page warrants enough work to be an issue itself.

[2019-01-11 00:14] #276 closed

[2019-01-11 16:53] #227 closed

[2019-01-11 17:58] #287 closed

[2019-01-11 21:09] crysfel commented on #251
@klazbaba based on the error and the source code you are showing... it looks to me that the problem might be the way you are exporting inside each plugin.

Without seeing that code it's difficult to asses, but maybe you don't need the extra `()` in each require, try just this:

[code]

In order to test all you have to do is `yarn start` and the app should load as usual.

[2019-01-11 23:43] kakaly opened #295 "Seeing scroll bar for login modal on a bigger monitor"
# Issue

## Screenshot
![cc](https://user-images.githubusercontent.com/7032778/51065026-971d7780-15b7-11e9-8b1f-3a773adadeac.PNG)

## Steps to Reproduce

Open codingcoach.io/auth/login on firefox using a bigger monitor

[2019-01-13 14:37] JamieBort commented on #286
May I be assigned to this one?

[2019-01-14 11:15] emmawedekind commented on #259
If you need assets, please message me directly on Slack :)

[2019-01-14 11:21] emmawedekind commented on #259
I put all the SVG icons up on the Invision board! Let me know if you can't download them for whatever reason: https://projects.invisionapp.com/boards/UF3Q7E6QEZM/

[2019-01-14 11:21] emmawedekind commented on #286
Absolutely! @JamieBort

[2019-01-14 11:24] emmawedekind commented on #292
We can update the navigation text color to #126D4F

![image](https://user-images.githubusercontent.com/7671983/51109997-45633000-17f7-11e9-8fcc-73ae2a6cb1ff.png)

[2019-01-14 11:24] emmawedekind commented on #292
@alivenotions Do you want to take this?

[2019-01-14 11:32] linux-nerd commented on #222
@crysfel, @emmawedekind I am pausing until we have some discussion finalized on auth0/passport.js

[2019-01-14 14:18] alizand1992 commented on #295
@emmawedekind I'm having trouble finding the repo on ZenHub so I'll just post here. I wanted to take this issue.

[2019-01-14 15:35] alivenotions commented on #292
Yeah sure! Will open a PR tomorrow.

[2019-01-14 16:14] crysfel commented on #295
@alizand1992 all yours! Let me know if you need any help

[2019-01-14 16:20] crysfel commented on #288
@emmawedekind no one has taken this issue, is open for anyone who want to work on this :)

[2019-01-14 16:24] crysfel commented on #278
@emmawedekind no hehehehe but... in order to help people get up and running easier (In case they didn't follow the README) let's commit the `.env` file.

This issue is open for anyone to take, it's quite simple, just remove the `.env` from the `.gitignore` :)

[2019-01-14 16:50] trent-boyd commented on #230
@emmawedekind Sure! I'll have some time later this week.

[2019-01-14 16:54] crysfel commented on #186
@emmawedekind the current PR is not adding styles for mobile, given that this issue is very old and we haven't head back from @feysalikbal... we should close the PR and open this issue for someone else who wants to take it.

[2019-01-14 16:56] crysfel commented on #232
Thanks for contributing!

[2019-01-14 16:56] #232 closed

[2019-01-14 16:59] crysfel commented on #187
@darrenvong #265 has been merged, this issue is no longer blocked. Let me know if you need any help

[2019-01-14 17:00] crysfel commented on #214
Closing...

[2019-01-14 17:00] #214 closed

[2019-01-14 17:02] crysfel commented on #222
The backend team decided to go with oauth, therefore this task is no longer relevant. I'm sorry @linux-nerd 🤷‍♂️

[2019-01-14 17:03] crysfel commented on #230
@trent-boyd all yours!

[2019-01-14 17:32] tureey commented on #255
@emmawedekind Perfect! :+1:

[2019-01-14 21:13] becoming-software-engineer commented on #278
If trent-boyd is not taking this one, may I take?

[2019-01-14 21:18] trent-boyd commented on #278
@becoming-software-engineer: I've got some other tickets to work, so feel free to take this. :)

[2019-01-14 21:32] becoming-software-engineer commented on #278
Thanks, @trent-boyd.
@crysfel could you please assign this issue to me?

[2019-01-15 06:15] linux-nerd commented on #222
That's fine @crysfel  😎

[2019-01-15 10:45] linux-nerd commented on #288
@emmawedekind  I can try

[2019-01-15 13:39] linux-nerd commented on #288
@crysfel, @emmawedekind Raised a [PR](#296)

[2019-01-15 21:09] #288 closed

[2019-01-16 12:47] tureey commented on #295
feel free to ask me too if you need @alizand1992

[2019-01-16 14:17] alizand1992 commented on #295
@crysfel @tureey

I've narrowed down the issue to Panel.js > line 51 > `overflow-y-auto`

Running on the latest develop branch on dev environment I get:

![screen shot 2019-01-16 at 6 03 58 am](https://user-images.githubusercontent.com/14100240/51253937-9b99b580-1954-11e9-82d8-097e90ca1093.png)

however looking at live I get:

![screen shot 2019-01-16 at 6 04 06 am](https://user-images.githubuserc

[2019-01-16 15:39] nero2009 opened #298 "Add Slack organisation link to landing page"
# Issue
Add slack link to landing page

## Description
There were complaints that the slack link resets every time we share it so it had to be removed, now there is a working link.
https://join.slack.com/t/coding-coach/shared_invite/enQtNTE2NDY4NTczNzE0LTMyOTAyZTFiYjE4OTUzYjgwYzk5MzlmYjgwNjUyNDZlZGY3NGVhYmU1NjdmZDQ3MmQ3YjRhYjJkMjM4OTYwNDA

## Screenshot
![alt text](https://user-images.githubuserco

[2019-01-16 16:16] swissarmykirpan commented on #295
@crysfel are we not moving to auth0 and hosted pages? https://auth0.com/docs/hosted-pages/login

[2019-01-17 10:20] bhupendra-nitt commented on #226
Guys, I will unassign myself from this issue as of now. I am just caught up with something at the moment.

[2019-01-17 14:55] kakaly commented on #298
@crysfel , @emmawedekind - Can I take this one?

[2019-01-17 17:50] crysfel commented on #298
Sure! Apparently that links doesn't expire, let's see if that's true xD

[2019-01-17 20:15] olegk101 commented on #226
I can take it too

[2019-01-18 08:05] emmawedekind commented on #226
Unassigned @bhupendra-nitt and assigned @linux-nerd since he posted first, but if you can't take it for some reason I'm happy to assign @olegk101 :)

[2019-01-18 08:06] emmawedekind commented on #298
This is awesome!! Thanks so much @nero2009  You rock!

[2019-01-18 08:06] emmawedekind commented on #298
Let's get this merged ASAP :)

[2019-01-18 08:09] emmawedekind commented on #222
I will close this issue for now then :)

[2019-01-18 08:09] #222 closed

[2019-01-18 08:09] emmawedekind commented on #288
Woohoo thanks!

[2019-01-18 20:57] kriyeng commented on #186
It would be great if I could fix this issue. How could I be added to the org?

Here're the snapshots

Desktop
![modal1](https://user-images.githubusercontent.com/3359663/51412372-aa0dea00-1b6b-11e9-8fe6-03bbcfc140c6.PNG)

Mobile
![modal2](https://user-images.githubusercontent.com/3359663/51412373-aa0dea00-1b6b-11e9-9824-7be640291ebe.PNG)

Mobile landscape
![modal3](https://user-images.githubuserco

[2019-01-19 00:37] kriyeng commented on #186
Sorry, this fixes when content is short, but when it's larger (on bigger resolutions), the modal get out of the screen. You can scroll, but the whole modal, not just the content part. I could look for a solution if you assign me the issue.

[2019-01-20 20:12] darrenvong commented on #187
@crysfel Awesome, I've been away for the past week so just catching up on things now. I'll take a look at this again soon!

[2019-01-20 23:02] alizand1992 commented on #295
@crysfel  @tureey @swissarmykirpan I haven't heard anything back in a few days so I just wanted to touch base to see if this issue is necessary (based n @swissarmykirpan's comment), if it still needs to be fixed please see my comment above.

[2019-01-21 06:36] tureey commented on #295
I'll check and try to solve this on my computer once I finish work. Now it's 7.35am, at 6-7pm. I was traveling sorry for not replying. I'll see what I can do then @alizand1992

[2019-01-22 06:37] linux-nerd commented on #226
@crysfel Any idea how to use animation with tailwind?

[2019-01-22 10:40] swissarmykirpan commented on #52
I'm pulling this back into backlog because it needs refining

[2019-01-22 15:05] emmawedekind commented on #52
What do you mean it needs refining...? We're not giving write access to anyone, sorry. That shouldn't stop you from developing.

[2019-01-22 15:06] emmawedekind commented on #226
It's just normal CSS, right? @linux-nerd. Can't you just use keyframes?

[2019-01-22 15:09] emmawedekind commented on #295
We have the channel cc33-signup going in Slack now. Is that where this discussion will be taking place?

[2019-01-22 15:09] emmawedekind commented on #187
Hey @darrenvong any update? :)

[2019-01-22 15:11] emmawedekind commented on #186
Hey @kriyeng still interested?

[2019-01-22 15:12] emmawedekind commented on #186
I've added you to the organization so if you want this issue, I can assign it to you!

[2019-01-22 15:13] emmawedekind commented on #278
I already invited you @becoming-software-engineer, you have to accept the invite :)

[2019-01-22 15:14] emmawedekind commented on #298
@kakaly did you want to take this still?

[2019-01-22 15:15] emmawedekind commented on #275
We have a new issue for it, I'll push to get it merged ASAP https://github.com/Coding-Coach/coding-coach/issues/298 @moshfeu

[2019-01-22 15:17] emmawedekind commented on #255
Any update on this @tureey ? :)

[2019-01-22 15:18] emmawedekind commented on #259
Hi... any update on this @trent-boyd ? :) We need this to move forward with other tasks!

[2019-01-22 15:20] emmawedekind commented on #259
Linked with PR #291

[2019-01-22 15:20] emmawedekind commented on #292
Hi, any update @alivenotions ? :)

[2019-01-22 15:24] kriyeng commented on #186
Great, thank you @emmawedekind. Yes, I'd like to try.

[2019-01-22 16:22] #292 closed

[2019-01-22 17:15] swissarmykirpan commented on #52
@emmawedekind @crysfel
1. Since we have opted to use Auth0 - we no longer need to implement these pages in the front-end stack. Auth0 has the concept of hosted pages - https://auth0.com/docs/hosted-pages/login
2. The epic needs to be reorganised to consider that information
3. The epic needs to contain information about the entire Signup Flow, all the steps, such as:
    - Are we enabling social a

[2019-01-22 21:03] moshfeu commented on #298
Joined, thanks!

[2019-01-22 21:04] moshfeu commented on #275
Joined, thanks!

[2019-01-22 22:33] kakaly commented on #298
@emmawedekind - Yup! Sorry I was sick last 2 days. I ll submit a PR by tomorrow or day after

[2019-01-22 22:36] crysfel commented on #298
@kakaly I just created a PR for this, will deploy tonight. Hope you feel better!

[2019-01-22 22:49] #298 closed

[2019-01-22 22:59] crysfel commented on #295
@alizand1992 I'm going to deploy the latest in dev tonight, my guess is the live version is running an old version, we'll see.

[2019-01-22 23:01] crysfel commented on #226
so far we've been creating plugins for custom css

[2019-01-22 23:05] darrenvong commented on #187
@emmawedekind Just had a chance to look at this! It looks like between your initial bug post and the current version, the close button on the modal no longer floats. Is that intended, or should I turn it back to a floating button again?

Also, when the button is being focused/hovered, its green colour seems to look visibly darker as shown in the following screenshot.

![non-floating-button-hovered

[2019-01-22 23:54] kakaly commented on #298
This is great! Thanks @crysfel for filling me in.

[2019-01-23 03:52] trent-boyd commented on #259
@emmawedekind: Sorry about that. I've been prepping for some upcoming interviews lately, and haven't had as much time as I'd like to contribute. Hoping to find some time in the next couple of days. 🤞

[2019-01-23 04:04] linux-nerd commented on #226
@emmawedekind I am using keyframes. I thought there is a way to deal with this in tailwind.

[2019-01-23 04:05] linux-nerd commented on #226
I will sync up with you, once I get my component to a logical end. Right now I am struggling with styling the svg.

[2019-01-23 04:09] linux-nerd commented on #226
@crysfel , @emmawedekind
The Loader should be generic right? It can be used with other components as well. But, have de decided any minimum size of the spinner or the size of the spinner will be constant?

For example,
[code]

The spinner will appear in just one line of very limited height and width. Should we support this?

[2019-01-23 06:13] emmawedekind commented on #226
Yes it should definitely be re-usable! Can we have different sizes? So spinner-large, spinner-normal, spinner-small?

[2019-01-23 06:13] emmawedekind commented on #259
Great thanks! :) Just please update the issue when you're ready!

[2019-01-23 06:14] emmawedekind commented on #298
Thanks @crysfel

[2019-01-23 06:15] emmawedekind commented on #187
Are the other buttons in the UI still floating? If so, let's make this one float again. If the others are flat, let's leave it flat. I think a darker green should be okay for a focus/hover state :)

[2019-01-23 06:19] emmawedekind commented on #52
I have given you write access @swissarmykirpan. You are now welcome to update the Epic with more detailed information: https://github.com/Coding-Coach/coding-coach/issues/33.

Please let me know if you have any questions, thanks!

[2019-01-23 06:19] emmawedekind commented on #186
Great, you're assigned @kriyeng

[2019-01-23 20:18] darrenvong commented on #187
@emmawedekind As the "Close" button is the only thing on the _modal UI_, the button on it is flat right now. And if you are happy enough with the dark green shown in the screenshot of my previous message, then I guess the bug has fixed itself already! But if the dark green show is not high enough contrast, let me know and it should hopefully be a quick fix :)

[2019-01-24 07:18] moshfeu commented on #52
@swissarmykirpan What about https://docs.google.com/document/d/1DbdRZBsyjbeBl9vddUyXCUWsgwdgyyUY2NIQitf3_Z0/edit?disco=uiAAAACIR2Yl4? (I know it's old but there is no conclusion there..)

[2019-01-24 08:46] emmawedekind commented on #187
Is it flat only on focus? As long as we're consistent, I'm okay with it!

[2019-01-24 16:19] moshfeu commented on #52
Sounds good.
So it will be better to update the doc as well to avoid confusing.
(Or the doc is not relevant anymore?)

[2019-01-24 19:18] crysfel commented on #226
@linux-nerd let's a a `size` property to set the spinner size

[2019-01-24 20:22] trent-boyd commented on #259
Hey @emmawedekind, I'm not adding a specific `Notifications` icon (see above) since the red numbered indicator should be dynamic and can be created pretty easily with plain HTML & CSS.

[2019-01-24 22:22] HighWatersDev commented on #52
@swissarmykirpan @crysfel is there an issue for back-end implementation of Auth0? Will be happy to help there.

[2019-02-04 10:47] emmawedekind commented on #259
Super thanks!

[2019-02-04 10:53] emmawedekind commented on #187
Ah dang sorry! Closing!

[2019-02-04 10:53] #187 closed

[2019-02-04 20:42] kriyeng commented on #130
Would you like to apply the scroll button finally? I can offer to solve this issue if there're no news.

[2019-02-05 14:33] alizand1992 commented on #295
As I had suspected the issue has been resolved. @crysfel please close this this issue.

![screen shot 2019-02-05 at 6 32 45 am](https://user-images.githubusercontent.com/14100240/52280099-e1bcb600-290f-11e9-9498-1759ef437ea9.png)

[2019-02-05 17:39] #230 closed

[2019-02-05 17:54] #186 closed

[2019-02-06 22:25] #278 closed

[2019-02-07 15:11] danedavid opened #305 "How to signup/login ?"
# Issue

I go to [codingcoach.io](https://codingcoach.io/), and I don't know how to login or signup for this. I can't find any links for the same.

[2019-02-07 16:06] crysfel commented on #305
We are currently working on building the platform, for now you can join us in slack: https://join.slack.com/t/coding-coach/shared_invite/enQtNTE2NDY4NTczNzE0LTMyOTAyZTFiYjE4OTUzYjgwYzk5MzlmYjgwNjUyNDZlZGY3NGVhYmU1NjdmZDQ3MmQ3YjRhYjJkMjM4OTYwNDA

[2019-02-07 16:07] crysfel commented on #295
Glad to hear!

[2019-02-07 16:07] #295 closed

[2019-02-07 16:09] #259 closed

[2019-02-07 16:10] crysfel commented on #130
@kriyeng all yours!! Thanks!!

[2019-02-07 18:00] #305 closed

[2019-02-08 17:59] crysfel commented on #255
#259 has been merged 🎉

[2019-02-09 09:58] tureey commented on #255
@crysfel thank you!!!!! 🎉

[2019-02-11 12:04] msweeneydev commented on #257
How are we doing with this now that #259 has been merged?

[2019-02-11 21:21] tureey commented on #257
I'm gettin it

[2019-02-11 21:22] msweeneydev commented on #257
He's got it! 💯

[2019-02-12 06:37] moshfeu commented on #133
What's the status?

[2019-02-12 06:59] #157 closed

[2019-02-13 16:24] #255 closed

[2019-02-19 20:26] #130 closed

[2019-03-06 17:55] #257 closed

[2019-03-14 14:19] corinneling opened #310 "Add Code of Conduct"
# Issue

## Description

* Add a code of conduct to the readme
* Clearly communicate the following:
   * What is not acceptable as a member of coding coach
   * What will happen if the CoC is violated
   * Where users can report - will most likely be related to #44
   * How coding coach will respond to a report

[2019-03-14 14:20] corinneling commented on #310
I'll take this one

[2019-03-18 17:30] shayanypn commented on #35
I'll take this one.

[2019-03-18 21:35] moshfeu commented on #35
@emmawedekind is this issue ready for work? (designs, specs)

[2019-03-19 12:10] emmawedekind commented on #310
Hey @corinneling ! We could use this more than ever! Any updates? :)

[2019-03-19 13:44] corinneling commented on #310
@emmawedekind  yeah 🙂  i have it all written out, and I can try and make a PR today.

[2019-03-20 12:43] emmawedekind commented on #35
I need to re-visit the designs. I'd love to assign you as soon as it's ready! Let me re-visit all of the designs tonight and I'll let you know as soon as they're ready! @shayanypn

[2019-03-22 09:19] emmawedekind commented on #310
Hi @corinneling any update?

[2019-03-24 14:56] jamesqquick commented on #48
Would be great to include a short about blurb on the home page as well. Or at least basic ino on what Coding Coach is.

[2019-03-25 12:14] corinneling commented on #310
@emmawedekind here's the PR for the CoC. I still have to figure out how to get the tests to pass, but I think it could still be reviewed. Thank you for your patience with this!

[2019-03-26 09:52] emmawedekind commented on #310
Thanks!

[2019-03-27 02:11] #223 closed

[2019-03-27 15:29] crysfel commented on #310
I've deployed this to production, thanks for contributing!

[2019-03-27 15:29] #310 closed

[2019-03-27 21:58] rachelfranklin1 commented on #235
hey @crysfel it looks like this issue is up for grabs again, can I take it? :)

[2019-03-27 22:02] crysfel commented on #235
All yours! Thanks!

[2019-03-28 11:09] emmawedekind opened #314 "Add text to the Code of Conduct"
# Issue
## Description

Adding a clause to prevent cheating on technical interview assessments.

## Screenshot

Add this content below the list of harassment:

"We value integrity here at Coding Coach. As such, mentees may not ask for solutions to technical interview take home assessments. We're happy to mentor you in the process of solving difficult questions, but will not provide you with soluti

[2019-03-28 11:10] splinterific commented on #314
Happy to have a look unless someone else wants it :)

[2019-03-28 11:11] Sayrai commented on #314
I want!! :)

[2019-03-28 11:11] emmawedekind commented on #314
You got it @splinterific

[2019-03-28 11:12] emmawedekind commented on #314
Sorry @sayrai !

[2019-03-28 11:12] Sayrai commented on #314
it's fine

[2019-03-31 17:46] marvhock opened #316 "Add "How it works" section to the homepage"
# Issue
Adding a simple and short "how it works" section to the homepage (startpage).
## Description
With this issue, I want to address a problem which will prevent potential mentors and mentees to actually use Coding Coach, even when they could have the motivation to.

The Coding Coach homepage only explains "what" and not "how" it works, making users feel somewhat lost (I felt so - also see [thr

[2019-04-01 09:52] rachelfranklin1 commented on #235
just an update: almost finished! Just had a busy weekend! 😅 so will aim to get this finished by Weds at the latest!

[2019-04-01 14:33] #314 closed

[2019-04-01 14:39] crysfel commented on #316
@emmawedekind can you work on a design for this? I think we should include some instructions in the homepage about how to become a mentor/mentee

[2019-04-01 14:39] crysfel commented on #235
@rachelfranklin1 thanks!

[2019-04-01 14:40] #103 closed

[2019-04-01 14:40] crysfel commented on #104
Now we are using the `Button` component in the header, styles are now consistent

[2019-04-01 14:40] #104 closed

[2019-04-05 17:14] rachelfranklin1 commented on #316
would love to take this issue when the designs are ready!

[2019-04-05 18:25] #235 closed

[2019-04-06 09:52] tureey commented on #316
For me it's okay @rachelfranklin1

[2019-04-07 19:40] iyashsoni opened #319 "Ability to leave feedback for the interactions with mentor"
**Is your feature request related to a problem? Please describe.**
Yes. In current state, one cannot leave any feedback for the interactions one just had with a mentor. I believe a general feedback would be really helpful to others who comes to CC, seeking a mentor.

**Describe the solution you'd like**
A space where mentees can leave feedback on how they found the interactions with the mentor. Ou

[2019-04-08 10:56] emmawedekind commented on #319
:O I had no idea oops! Thanks @moshfeu !

[2019-04-08 10:57] emmawedekind commented on #316
Hi! I'll check this out tonight :) Thank you!!

[2019-04-08 12:54] moshfeu commented on #319
No problem :) It's not feature.

![Screen Shot 2019-04-08 at 15 53 36](https://user-images.githubusercontent.com/3723951/55725514-91003100-5a16-11e9-9b0f-07d190a667e1.png)

[2019-04-24 09:07] Dmeowmixer opened #320 "Mentors.codingcoach.io home href and icon do not direct to main homepage"
"Home" href at https://mentors.codingcoach.io/ navbar redirects to https://mentors.codingcoach.io/ instead of the main codingcoach.io page.
The same is seen with the Coding Coach Alpha icon in the Sidebar (Top Left).

If this was unintentional and should redirect to the main codingcoach site, can I this be assigned to me? It would be my first open source contribution!

[2019-04-24 09:19] emmawedekind commented on #320
Actually... I think we can get rid of the links on both of those. We can remove the Home link from the nav, as there will never be a case where we'll need it. The About nav item links back to codingcoach.io. So feel free to remove both of these links!

[2019-04-25 00:03] Dmeowmixer commented on #320
Just made the pull request, let me know if there were any issues.

[2019-04-27 13:36] #320 closed

[2019-05-05 08:41] palashmon commented on #133
Any updates on this?

We need to do a few more things here:

1. Add it to our scripts in `package.json` like:

[code]

2. Add the `path` and `maxSize` in our `package.json`:

[code]

2. [Authorize bundlesize for status access](https://github.com/siddharthkp/bundlesize#2-build-status), copy the token provided.

3. Add this token as `BUNDLESIZE_GITHUB_TOKEN` as an environment parameter in your CIs p

[2019-05-10 13:57] gomesalexandre opened #322 "Show spokenLanguages in mentor card"
## Description

Actual, physical doesn't make sense at all in the card IMO, the language(s) you speak do. What about digital nomads ? Expats ? Or simply people speaking other languages than the one of the country they are from / live in.

Although you can search for languages, this should also be shown in the card.

What about a centered list of country flags under the technologies/programming lan

[2019-05-13 16:55] Cazaimi opened #323 "Navigation to 'About', 'Mission' and 'Contact' only works from the home page"
# Issue

Navigation to the mentioned pages/headings does not work if the user is on the mock openings page.

## Description

The user should ideally be able to navigate to any of the headings in the `Navbar`. However, this is not the case as on clicking on any of the headings from the 'Mock openings' page, the user is not navigated to the heading clicked.

## Screenshot

![codingcoach](https://use

[2019-05-16 11:33] brentmclark commented on #323
I can grab this one.if it's not already in flight

[2019-05-20 16:55] #323 closed

[2019-05-21 21:46] Cazaimi commented on #37
Hi @emmawedekind, could I take this up?

[2019-06-11 20:13] Ruffeng commented on #316
Hi! How is the status of this issue? Is there something I can try to help here to make it possible for @rachelfranklin1  or @emmawedekind  ?

[2019-06-12 20:01] michaeljamie commented on #316
Seconding what @Ruffeng said.  I'm also happy to help if needed, or if any additional pages are needing to be added to the coding coach website @rachelfranklin1 and @emmawedekind 👍

[2019-06-14 02:59] ethikz opened #327 "Anchor scrolling is jumpy"
# Issue
When clicking on the nav anchors, it causes the page to jump to the section.

## Description
While this is normal behavior, I noticed there have been previous issues for smooth scrolling.

## Screenshot
[Link Demo Capture](https://drive.google.com/file/d/1lnaKFaPHiE6zSKWzOkTjxDff06KD79K2/view?usp=sharing)

## Direct Requirements
- [x] Cross browser compatible
- [x] Works across multiple re

[2019-08-23 05:27] #43 closed

[2019-08-23 05:27] #44 closed

[2019-08-23 05:27] #45 closed

[2019-08-23 05:27] #46 closed

[2019-08-23 05:27] #47 closed

[2019-08-23 05:27] #48 closed

[2019-08-23 05:27] #49 closed

[2019-08-23 05:27] #51 closed

[2019-08-23 05:27] #52 closed

[2019-08-23 05:27] #81 closed

[2019-08-23 05:27] #133 closed

[2019-08-23 05:27] #156 closed

[2019-08-23 05:27] #158 closed

[2019-08-23 05:27] #159 closed

[2019-08-23 05:27] #160 closed

[2019-08-23 05:28] #161 closed

[2019-08-23 05:28] #225 closed

[2019-08-23 05:28] #226 closed

[2019-08-23 05:28] #251 closed

[2019-08-23 05:28] #256 closed

[2019-08-23 05:28] #286 closed

[2019-08-23 05:28] #316 closed

[2019-08-23 05:28] #319 closed

[2019-08-23 05:28] #322 closed

[2019-08-23 05:28] #327 closed

[2019-08-23 05:28] #33 closed

[2019-08-23 05:28] #35 closed

[2019-08-23 05:28] #36 closed

[2019-08-23 05:28] #37 closed

[2019-08-23 05:28] #38 closed

[2019-08-23 05:28] #39 closed

[2019-08-23 05:28] #40 closed

[2019-08-23 05:28] #41 closed

[2019-08-23 17:33] crysfel opened #331 "Add the CC logo as a favicon"
Currently the default gatsby icon is shown, we need to udpate it to use our coding coach logo

[2019-08-23 17:34] crysfel opened #332 "Integrate GA to track visitors"
We need to integrate google analytics, there's a gatsby plugin for that

[2019-08-26 14:14] crysfel opened #333 "Configure PurgeCSS to remove death css"
In order to optimize the first loading, we need to integrate purgecss to the building pipeline

[2019-08-26 14:18] crysfel opened #334 "Add a form to signup to the newsletter in SendGrid"
In the sidebar there's a widget already to allow users to signup to the newsletter, but we need to integrate it with SendGrid.

Newsletter list ID in send grid: `6df91cab-90bd-4eaa-9710-c3804f8aba01`

[2019-08-28 01:44] #333 closed, assigned to nobody

[2019-08-30 01:09] jwithington commented on #334
Taking a stab at this one now!

[2019-08-30 01:32] jwithington commented on #334
Wellll it didn't take long for me to realize I don't understand APIs enough to be able to assist here.

I may need a mentor. 😉

I was wondering, though: is it bad news that your API key is out here in the open?

[2019-09-03 00:50] crysfel commented on #334
Hey there, what API key is out in the open?

[2019-09-03 15:02] crysfel opened #347 "Add PWA support"
We need to enable PWA features and allow this page to be loaded even if there's no connection available.

[2019-09-03 15:17] kingingcole commented on #334
I think he means the ID

[2019-09-03 15:54] #347 closed

[2019-09-03 18:03] jwithington commented on #334
Yep that's what I meant -- my mistake!

(like I said, I'm in over my head 😬)

[2019-09-03 21:11] crysfel commented on #334
For a moment I was like *OMG did I commit the .env file by accident 😱?* hahahaha... That's cool we are all here to learn

[2019-09-03 22:57] crysfel opened #350 "Add a sitemap"
We need to add a site map to improve our SEO, `gatsby-plugin-sitemap` seems to be a good alternative

[2019-09-03 22:59] crysfel opened #351 "Add a commenting system"
I think it would be nice to allow readers to leave a comment on the posts, maybe installing Disqus is a good alternative.

[2019-09-04 01:06] crysfel opened #352 "Adding pagination to the blog"
We need to add pagination to show all content, right now we have a couple posts but eventually the number will grow and we will need a pagination.

[2019-09-04 15:07] #351 closed

[2019-09-10 19:23] MetalDent commented on #350
Hi, anyone working on this?

[2019-09-12 06:37] ashvinikumar commented on #352
Do let me know when we are planning to work on this, I can pick up this one.

[2019-09-13 21:29] crysfel commented on #350
@MetalDent nope, would you like to take it?

[2019-09-13 21:31] crysfel commented on #352
All yours!

Let me know if you have any questions

thank you!

[2019-09-14 05:52] MetalDent commented on #350
@crysfel yeah sure. Can you tell me how can I proceed?

[2019-09-15 16:37] crysfel commented on #350
@MetalDent all yours!

Just follow the steps in the documentation: https://www.gatsbyjs.org/packages/gatsby-plugin-sitemap/

Remember we are using yarn instead of npm.

[2019-09-16 08:26] MetalDent commented on #350
@crysfel okay, so do we need to exclude any pages from the website or the default option will work?

[2019-09-16 19:53] crysfel commented on #350
I don't think so, the default options should be good to go.

[2019-09-17 00:07] levivm opened #356 "Blog page not rendering."
Hi,

Blog is not rendering properly. It just displays a blank page.

Attached you can find the screenshot with the error.

![Screenshot](https://i.imgur.com/Lr2AGbG.png)

[2019-09-17 00:11] Asjas commented on #356
Hi @levivm. That is most likely a cached service worker that is causing the issue. The blog is working fine on my side.

Try clearing the cache or unregistering the current service worker and see if it renders the page correctly.

[2019-09-17 00:14] levivm commented on #356
Yep, you right, it is a cache issue.

I cleaned cache, didn't work but then viewed from incognito mode and worked.

[2019-09-17 00:23] Asjas commented on #356
Okay, try uninstalling the previous service worker. That will cause the new service worker to install when you open the blog website

https://love2dev.com/blog/how-to-uninstall-a-service-worker/

[2019-09-17 00:57] levivm commented on #356
working perfectly.

[2019-09-18 17:21] #350 closed

[2019-09-28 13:11] janwilmans opened #357 "No logo in twitter / SOA reference"
![image](https://user-images.githubusercontent.com/5933444/65816960-203a1480-e202-11e9-89d8-add210d69314.png)

No logo is displayed / contained? in the meta info extracted from the link ?

[2019-10-03 15:30] crysfel commented on #356
Closing this issue, thanks Asjas for helping out!

[2019-10-03 15:30] #356 closed

[2019-10-03 15:30] crysfel commented on #357
Thanks @janwilmans for reporting the issue and @kingingcole for the quick fix!

[2019-10-03 15:31] #357 closed

[2019-10-03 15:31] crysfel commented on #352
Hi @ashvinikumar, any progress on this?

[2019-10-03 22:08] janwilmans opened #359 "Add a feature to link to a specific mentor"
Linking to
https://mentors.codingcoach.io/?name=janwilmans used to work, but now:

https://mentors.codingcoach.io/?name=Jan+Wilmans

just brings me back to https://mentors.codingcoach.io

Can we have a feature to link to a specific mentor page?

[2019-10-03 22:13] janwilmans commented on #357
![image](https://user-images.githubusercontent.com/5933444/66167879-c4c1b980-e63b-11e9-863b-17f1de94164c.png)

Not sure what got fixed, but posting on twitter is still quite blend....

[2019-10-03 22:15] janwilmans commented on #357
Btw, I would to know how/why this works/doesn't work. I have the same problem on nullptr.nl and was not able to find out how to fix it yet.

[2019-10-05 05:17] ashvinikumar commented on #352
Hi @crysfel, I'm on vacation, will be working on next week.

[2019-10-10 15:50] jaydm commented on #359
I am not able to replicate your issue.

The second URL you listed (https://mentors.codingcoach.io/?name=Jan+Wilmans) worked for me.

[2019-10-11 06:24] mnttnm commented on #359
Same for me. I am not able to reproduce this issue. @janwilmans can you check again?

[2019-10-11 07:41] janwilmans commented on #359
Correct, it was working again pretty much the same evening, not sure what changed, however its no-longer re-produce-able, so I closed this issue.

[2019-10-11 07:41] #359 closed

[2019-10-15 01:27] jwithington commented on #334
With Hacktoberfest happening, I came back to check on this more and see if I could figure it out.

It looks like there's a spot in the docs for [creating a form](https://sendgrid.com/docs/ui/managing-contacts/create-and-manage-contacts/#create-a-signup-form), but I'd need to login to the Coding Coach sendgrid to do that.

Is that something I could still help with, or no?

[2019-10-22 02:11] ashvinikumar commented on #352
can someone else take this, I'm busy with work.

[2019-11-05 18:32] alizand1992 commented on #352
I can take it.... I may be slow since I'm new

[2019-11-06 20:50] alizand1992 commented on #352
@crysfel would you be able to look over https://github.com/Coding-Coach/coding-coach/pull/361 and give me some feedback on the questions?

[2020-02-04 20:06] crysfel opened #367 "Add a link to the store in the sidebar"
## Description
We want to encourage people to buy our swag from the store. Let's add a t-shirt image to the sidebar with a link to the store.

<img width="305" alt="Screen Shot 2020-02-04 at 2 04 52 PM" src="https://user-images.githubusercontent.com/219207/73782308-82c69280-4757-11ea-9c38-55f2d5841de4.png">

Link: https://shop.spreadshirt.com/coding-coach

[2020-02-04 20:43] #367 closed

[2020-11-13 05:01] akshitagupta15june opened #387 "Request for joining the organization"
i want to contribute in coding coach.
Thankyou in advance.

[2021-01-11 16:00] crysfel commented on #387
Hi @akshitagupta15june! Sorry for the late response 😅

We now have 2 week sprints where we commit to a few tickets and try to complete the work within the time span, you should join us in slack, there are a couple of channels you can join: #cc-product, #cc-product-client and #cc-product-api

See you around!

[2021-01-11 16:00] #387 closed

[2021-02-15 15:50] moshfeu opened #391 "Turn Mentorship Guidelines into web page"
Currently, the "mentorship guidelines" is a [Google Doc](https://docs.google.com/document/d/1zKCxmIh0Sd4aWLiQncICOGm6uf38S0kJ0xb0qErNFVA/edit).

The task is to turn it into a webpage (similar to https://codingcoach.io/legal/cookies [[source code](https://github.com/Coding-Coach/coding-coach/blob/master/content/legal/cookies.md)]) for better SEO and performance.

[2021-06-03 21:55] moshfeu opened #399 "Show a "non active" message to mock opening"
Since "[mock opening](https://codingcoach.io/mock-openings)" is no longer active we should show e message that this modules it not active. If someone is willing to lead this, we can consider bringing it back.

[2021-07-25 00:40] TommiKorhonen commented on #391
You guys still need help with this? I am interested, but need more info etc.

[2021-07-25 06:18] moshfeu commented on #391
Hi, thank you!
I've updated the description. Let me know if it clear.

[2021-07-31 21:26] #391 closed

[2021-08-31 22:07] smatthies opened #405 "Missing helptext / missleading label for form field"
I just stumbled across this myself while filling out my profile; the field/label "Title" when editing the Profile was a bit misleading for me. At first I left it blank, because I had something like "Prof." or "Dr" or any other academic title in mind. When the error message popped up saying that the field is not optional I've added "Mrs", which als ended up in a error message that the field is miss

[2021-11-16 08:17] moshfeu commented on #405
Thank @smatthies!
I believe the issue with the mentors site so I'll move the issue there.

[2022-01-03 01:53] fabiopagoti opened #412 "yarn install fails due to 'Sharp' dependency"
Hello!

I cloned the repo and ran `yarn install`. It fails with the following output

As you can see, something is wrong on this `Sharp` dependency and I found the [following issue on `Sharp` repo (npm install doesn't work, because of sharp's command)](https://github.com/lovell/sharp/issues/3033).

The error prevents starting the local server.

[2022-01-03 02:05] fabiopagoti commented on #412
I tried changing the 'gatsby-plugin-sharp` to versions 2.6.10 and 4.4.10 but the problem persists